/* MadCap Table Style: */

/*<meta sourceDocument="C:\Users\nlaughli\Documents\Lawful Intercept\Xcipio 8.1.0\Xcipio_Administrator_Manual_2700-4253\Operating Commands.fm" Version="9" />*/

mcTableStyle
{
	name: Alternative_Decision;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-collapse: collapse;
	border-left-color: #000000;
	border-right-color: #000000;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-top-style: none;
	border-bottom-style: none;
	border-right-style: none;
	border-left-style: none;
	cell-padding-top: 2pt;
	cell-padding-left: 2pt;
	cell-padding-right: 2pt;
	cell-padding-bottom: 2pt;
	max-id: 4;
}

mcTableColumnStyle
{
	separator-style: none;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	name: Header1;
	id: 3;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: none;
	background-color: #fdfdb3;
	name: Body1;
	id: 1;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: none;
	name: Body2;
	id: 2;
}

mcTableFootStyle
{
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
.TableStyle-Alternative_Decision
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: #000000;
	border-right-style: none;
	border-right-color: #000000;
	border-top-style: none;
	border-top-color: #000000;
	border-bottom-style: none;
	border-bottom-color: #000000;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	border-spacing: 0px 0px;
}

.TableStyle-Alternative_Decision-Column-Column1
{
	
}

.TableStyle-Alternative_Decision-Head-Header1
{
	
}

.TableStyle-Alternative_Decision-HeadI-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Alternative_Decision-HeadI-Column1-Header1 p
{
	
}

.TableStyle-Alternative_Decision-HeadE-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Alternative_Decision-HeadE-Column1-Header1 p
{
	
}

.TableStyle-Alternative_Decision-HeadF-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Alternative_Decision-HeadF-Column1-Header1 p
{
	
}

.TableStyle-Alternative_Decision-HeadH-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Alternative_Decision-HeadH-Column1-Header1 p
{
	
}

.TableStyle-Alternative_Decision-HeadD-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Alternative_Decision-HeadD-Column1-Header1 p
{
	
}

.TableStyle-Alternative_Decision-HeadC-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Alternative_Decision-HeadC-Column1-Header1 p
{
	
}

.TableStyle-Alternative_Decision-HeadB-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Alternative_Decision-HeadB-Column1-Header1 p
{
	
}

.TableStyle-Alternative_Decision-HeadA-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Alternative_Decision-HeadA-Column1-Header1 p
{
	
}

.TableStyle-Alternative_Decision-HeadG-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Alternative_Decision-HeadG-Column1-Header1 p
{
	
}

.TableStyle-Alternative_Decision-Foot-Footer1
{
	
}

.TableStyle-Alternative_Decision-FootI-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Alternative_Decision-FootI-Column1-Footer1 p
{
	
}

.TableStyle-Alternative_Decision-FootE-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Alternative_Decision-FootE-Column1-Footer1 p
{
	
}

.TableStyle-Alternative_Decision-FootF-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Alternative_Decision-FootF-Column1-Footer1 p
{
	
}

.TableStyle-Alternative_Decision-FootH-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Alternative_Decision-FootH-Column1-Footer1 p
{
	
}

.TableStyle-Alternative_Decision-FootD-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Alternative_Decision-FootD-Column1-Footer1 p
{
	
}

.TableStyle-Alternative_Decision-FootC-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Alternative_Decision-FootC-Column1-Footer1 p
{
	
}

.TableStyle-Alternative_Decision-FootB-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Alternative_Decision-FootB-Column1-Footer1 p
{
	
}

.TableStyle-Alternative_Decision-FootA-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Alternative_Decision-FootA-Column1-Footer1 p
{
	
}

.TableStyle-Alternative_Decision-FootG-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Alternative_Decision-FootG-Column1-Footer1 p
{
	
}

.TableStyle-Alternative_Decision-Body-Body1
{
	
}

.TableStyle-Alternative_Decision-BodyI-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #fdfdb3;
}

.TableStyle-Alternative_Decision-BodyI-Column1-Body1 p
{
	
}

.TableStyle-Alternative_Decision-BodyE-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #fdfdb3;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-Alternative_Decision-BodyE-Column1-Body1 p
{
	
}

.TableStyle-Alternative_Decision-BodyF-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #fdfdb3;
	border-bottom-style: none;
}

.TableStyle-Alternative_Decision-BodyF-Column1-Body1 p
{
	
}

.TableStyle-Alternative_Decision-BodyH-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #fdfdb3;
	border-right-style: none;
}

.TableStyle-Alternative_Decision-BodyH-Column1-Body1 p
{
	
}

.TableStyle-Alternative_Decision-BodyD-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #fdfdb3;
	border-bottom-style: none;
}

.TableStyle-Alternative_Decision-BodyD-Column1-Body1 p
{
	
}

.TableStyle-Alternative_Decision-BodyC-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #fdfdb3;
}

.TableStyle-Alternative_Decision-BodyC-Column1-Body1 p
{
	
}

.TableStyle-Alternative_Decision-BodyB-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #fdfdb3;
	border-right-style: none;
}

.TableStyle-Alternative_Decision-BodyB-Column1-Body1 p
{
	
}

.TableStyle-Alternative_Decision-BodyA-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #fdfdb3;
}

.TableStyle-Alternative_Decision-BodyA-Column1-Body1 p
{
	
}

.TableStyle-Alternative_Decision-BodyG-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #fdfdb3;
}

.TableStyle-Alternative_Decision-BodyG-Column1-Body1 p
{
	
}

.TableStyle-Alternative_Decision-Body-Body2
{
	
}

.TableStyle-Alternative_Decision-BodyI-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Alternative_Decision-BodyI-Column1-Body2 p
{
	
}

.TableStyle-Alternative_Decision-BodyE-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-Alternative_Decision-BodyE-Column1-Body2 p
{
	
}

.TableStyle-Alternative_Decision-BodyF-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-bottom-style: none;
}

.TableStyle-Alternative_Decision-BodyF-Column1-Body2 p
{
	
}

.TableStyle-Alternative_Decision-BodyH-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Alternative_Decision-BodyH-Column1-Body2 p
{
	
}

.TableStyle-Alternative_Decision-BodyD-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-bottom-style: none;
}

.TableStyle-Alternative_Decision-BodyD-Column1-Body2 p
{
	
}

.TableStyle-Alternative_Decision-BodyC-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Alternative_Decision-BodyC-Column1-Body2 p
{
	
}

.TableStyle-Alternative_Decision-BodyB-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Alternative_Decision-BodyB-Column1-Body2 p
{
	
}

.TableStyle-Alternative_Decision-BodyA-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Alternative_Decision-BodyA-Column1-Body2 p
{
	
}

.TableStyle-Alternative_Decision-BodyG-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Alternative_Decision-BodyG-Column1-Body2 p
{
	
}


