/* MadCap Table Style: */

/*<meta sourceDocument="C:\Users\nlaughli\Documents\Lawful Intercept\Xcipio 8.1.0\Xcipio_Administrator_Manual_2700-4253\Operating Commands.fm" Version="9" />*/

mcTableStyle
{
	name: Borderless;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-collapse: collapse;
	border-left-color: #000000;
	border-right-color: #000000;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-top-style: none;
	border-bottom-style: none;
	border-right-style: none;
	border-left-style: none;
	cell-padding-top: 0pt;
	cell-padding-left: 2pt;
	cell-padding-right: 12pt;
	cell-padding-bottom: 2pt;
	max-id: 4;
}

mcTableColumnStyle
{
	separator-style: none;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	name: Header1;
	id: 3;
}

mcTableBodyStyle
{
	span: 0;
	separator-style: none;
	name: Body1;
	id: 1;
}

mcTableBodyStyle
{
	span: 0;
	separator-style: none;
	name: Body2;
	id: 2;
}

mcTableFootStyle
{
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
.TableStyle-Borderless
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: #000000;
	border-right-style: none;
	border-right-color: #000000;
	border-top-style: none;
	border-top-color: #000000;
	border-bottom-style: none;
	border-bottom-color: #000000;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	border-spacing: 0px 0px;
}

.TableStyle-Borderless-Column-Column1
{
	
}

.TableStyle-Borderless-Head-Header1
{
	
}

.TableStyle-Borderless-HeadI-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 12pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
}

.TableStyle-Borderless-HeadI-Column1-Header1 p
{
	
}

.TableStyle-Borderless-HeadE-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 12pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Borderless-HeadE-Column1-Header1 p
{
	
}

.TableStyle-Borderless-HeadF-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 12pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
}

.TableStyle-Borderless-HeadF-Column1-Header1 p
{
	
}

.TableStyle-Borderless-HeadH-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 12pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Borderless-HeadH-Column1-Header1 p
{
	
}

.TableStyle-Borderless-HeadD-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 12pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
}

.TableStyle-Borderless-HeadD-Column1-Header1 p
{
	
}

.TableStyle-Borderless-HeadC-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 12pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
}

.TableStyle-Borderless-HeadC-Column1-Header1 p
{
	
}

.TableStyle-Borderless-HeadB-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 12pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Borderless-HeadB-Column1-Header1 p
{
	
}

.TableStyle-Borderless-HeadA-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 12pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
}

.TableStyle-Borderless-HeadA-Column1-Header1 p
{
	
}

.TableStyle-Borderless-HeadG-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 12pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
}

.TableStyle-Borderless-HeadG-Column1-Header1 p
{
	
}

.TableStyle-Borderless-Foot-Footer1
{
	
}

.TableStyle-Borderless-FootI-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 12pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
}

.TableStyle-Borderless-FootI-Column1-Footer1 p
{
	
}

.TableStyle-Borderless-FootE-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 12pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Borderless-FootE-Column1-Footer1 p
{
	
}

.TableStyle-Borderless-FootF-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 12pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
}

.TableStyle-Borderless-FootF-Column1-Footer1 p
{
	
}

.TableStyle-Borderless-FootH-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 12pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Borderless-FootH-Column1-Footer1 p
{
	
}

.TableStyle-Borderless-FootD-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 12pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
}

.TableStyle-Borderless-FootD-Column1-Footer1 p
{
	
}

.TableStyle-Borderless-FootC-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 12pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
}

.TableStyle-Borderless-FootC-Column1-Footer1 p
{
	
}

.TableStyle-Borderless-FootB-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 12pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Borderless-FootB-Column1-Footer1 p
{
	
}

.TableStyle-Borderless-FootA-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 12pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
}

.TableStyle-Borderless-FootA-Column1-Footer1 p
{
	
}

.TableStyle-Borderless-FootG-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 12pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
}

.TableStyle-Borderless-FootG-Column1-Footer1 p
{
	
}

.TableStyle-Borderless-Body-Body1
{
	
}

.TableStyle-Borderless-BodyI-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 12pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
}

.TableStyle-Borderless-BodyI-Column1-Body1 p
{
	
}

.TableStyle-Borderless-BodyE-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 12pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-Borderless-BodyE-Column1-Body1 p
{
	
}

.TableStyle-Borderless-BodyF-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 12pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-bottom-style: none;
}

.TableStyle-Borderless-BodyF-Column1-Body1 p
{
	
}

.TableStyle-Borderless-BodyH-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 12pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Borderless-BodyH-Column1-Body1 p
{
	
}

.TableStyle-Borderless-BodyD-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 12pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-bottom-style: none;
}

.TableStyle-Borderless-BodyD-Column1-Body1 p
{
	
}

.TableStyle-Borderless-BodyC-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 12pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
}

.TableStyle-Borderless-BodyC-Column1-Body1 p
{
	
}

.TableStyle-Borderless-BodyB-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 12pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Borderless-BodyB-Column1-Body1 p
{
	
}

.TableStyle-Borderless-BodyA-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 12pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
}

.TableStyle-Borderless-BodyA-Column1-Body1 p
{
	
}

.TableStyle-Borderless-BodyG-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 12pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
}

.TableStyle-Borderless-BodyG-Column1-Body1 p
{
	
}

.TableStyle-Borderless-Body-Body2
{
	
}

.TableStyle-Borderless-BodyI-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 12pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
}

.TableStyle-Borderless-BodyI-Column1-Body2 p
{
	
}

.TableStyle-Borderless-BodyE-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 12pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-Borderless-BodyE-Column1-Body2 p
{
	
}

.TableStyle-Borderless-BodyF-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 12pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-bottom-style: none;
}

.TableStyle-Borderless-BodyF-Column1-Body2 p
{
	
}

.TableStyle-Borderless-BodyH-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 12pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Borderless-BodyH-Column1-Body2 p
{
	
}

.TableStyle-Borderless-BodyD-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 12pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-bottom-style: none;
}

.TableStyle-Borderless-BodyD-Column1-Body2 p
{
	
}

.TableStyle-Borderless-BodyC-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 12pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
}

.TableStyle-Borderless-BodyC-Column1-Body2 p
{
	
}

.TableStyle-Borderless-BodyB-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 12pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Borderless-BodyB-Column1-Body2 p
{
	
}

.TableStyle-Borderless-BodyA-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 12pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
}

.TableStyle-Borderless-BodyA-Column1-Body2 p
{
	
}

.TableStyle-Borderless-BodyG-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 12pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
}

.TableStyle-Borderless-BodyG-Column1-Body2 p
{
	
}


