/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Example;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-collapse: collapse;
	border-left-color: #000000;
	border-right-color: #000000;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-top-style: none;
	border-bottom-style: none;
	border-right-style: none;
	border-left-style: none;
	cell-padding-top: 2pt;
	cell-padding-left: 4pt;
	cell-padding-right: 2pt;
	cell-padding-bottom: 2pt;
	max-id: 4;
}

mcTableColumnStyle
{
	separator-style: none;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	name: Header1;
	id: 3;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: none;
	background-color: #e5e5e5;
	name: Body1;
	id: 1;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: none;
	name: Body2;
	id: 2;
}

mcTableFootStyle
{
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
.TableStyle-Example
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: #000000;
	border-right-style: none;
	border-right-color: #000000;
	border-top-style: none;
	border-top-color: #000000;
	border-bottom-style: none;
	border-bottom-color: #000000;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	border-spacing: 0px 0px;
}

.TableStyle-Example-Column-Column1
{
	
}

.TableStyle-Example-Head-Header1
{
	
}

.TableStyle-Example-HeadI-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Example-HeadI-Column1-Header1 p
{
	
}

.TableStyle-Example-HeadE-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Example-HeadE-Column1-Header1 p
{
	
}

.TableStyle-Example-HeadF-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Example-HeadF-Column1-Header1 p
{
	
}

.TableStyle-Example-HeadH-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Example-HeadH-Column1-Header1 p
{
	
}

.TableStyle-Example-HeadD-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Example-HeadD-Column1-Header1 p
{
	
}

.TableStyle-Example-HeadC-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Example-HeadC-Column1-Header1 p
{
	
}

.TableStyle-Example-HeadB-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Example-HeadB-Column1-Header1 p
{
	
}

.TableStyle-Example-HeadA-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Example-HeadA-Column1-Header1 p
{
	
}

.TableStyle-Example-HeadG-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Example-HeadG-Column1-Header1 p
{
	
}

.TableStyle-Example-Foot-Footer1
{
	
}

.TableStyle-Example-FootI-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Example-FootI-Column1-Footer1 p
{
	
}

.TableStyle-Example-FootE-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Example-FootE-Column1-Footer1 p
{
	
}

.TableStyle-Example-FootF-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Example-FootF-Column1-Footer1 p
{
	
}

.TableStyle-Example-FootH-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Example-FootH-Column1-Footer1 p
{
	
}

.TableStyle-Example-FootD-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Example-FootD-Column1-Footer1 p
{
	
}

.TableStyle-Example-FootC-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Example-FootC-Column1-Footer1 p
{
	
}

.TableStyle-Example-FootB-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Example-FootB-Column1-Footer1 p
{
	
}

.TableStyle-Example-FootA-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Example-FootA-Column1-Footer1 p
{
	
}

.TableStyle-Example-FootG-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Example-FootG-Column1-Footer1 p
{
	
}

.TableStyle-Example-Body-Body1
{
	
}

.TableStyle-Example-BodyI-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #e5e5e5;
}

.TableStyle-Example-BodyI-Column1-Body1 p
{
	
}

.TableStyle-Example-BodyE-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #e5e5e5;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-Example-BodyE-Column1-Body1 p
{
	
}

.TableStyle-Example-BodyF-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #e5e5e5;
	border-bottom-style: none;
}

.TableStyle-Example-BodyF-Column1-Body1 p
{
	
}

.TableStyle-Example-BodyH-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #e5e5e5;
	border-right-style: none;
}

.TableStyle-Example-BodyH-Column1-Body1 p
{
	
}

.TableStyle-Example-BodyD-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #e5e5e5;
	border-bottom-style: none;
}

.TableStyle-Example-BodyD-Column1-Body1 p
{
	
}

.TableStyle-Example-BodyC-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #e5e5e5;
}

.TableStyle-Example-BodyC-Column1-Body1 p
{
	
}

.TableStyle-Example-BodyB-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #e5e5e5;
	border-right-style: none;
}

.TableStyle-Example-BodyB-Column1-Body1 p
{
	
}

.TableStyle-Example-BodyA-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #e5e5e5;
}

.TableStyle-Example-BodyA-Column1-Body1 p
{
	
}

.TableStyle-Example-BodyG-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #e5e5e5;
}

.TableStyle-Example-BodyG-Column1-Body1 p
{
	
}

.TableStyle-Example-Body-Body2
{
	
}

.TableStyle-Example-BodyI-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Example-BodyI-Column1-Body2 p
{
	
}

.TableStyle-Example-BodyE-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-Example-BodyE-Column1-Body2 p
{
	
}

.TableStyle-Example-BodyF-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-bottom-style: none;
}

.TableStyle-Example-BodyF-Column1-Body2 p
{
	
}

.TableStyle-Example-BodyH-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Example-BodyH-Column1-Body2 p
{
	
}

.TableStyle-Example-BodyD-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-bottom-style: none;
}

.TableStyle-Example-BodyD-Column1-Body2 p
{
	
}

.TableStyle-Example-BodyC-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Example-BodyC-Column1-Body2 p
{
	
}

.TableStyle-Example-BodyB-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Example-BodyB-Column1-Body2 p
{
	
}

.TableStyle-Example-BodyA-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Example-BodyA-Column1-Body2 p
{
	
}

.TableStyle-Example-BodyG-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Example-BodyG-Column1-Body2 p
{
	
}


