/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Important;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-collapse: collapse;
	border-left-color: #000000;
	border-right-color: #000000;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-top-style: none;
	border-bottom-style: none;
	border-right-style: none;
	border-left-style: none;
	cell-padding-top: 2pt;
	cell-padding-left: 4pt;
	cell-padding-right: 2pt;
	cell-padding-bottom: 2pt;
	max-id: 4;
}

mcTableColumnStyle
{
	separator-style: none;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	name: Header1;
	id: 3;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: none;
	background-color: #ff9999;
	name: Body1;
	id: 1;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: none;
	name: Body2;
	id: 2;
}

mcTableFootStyle
{
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
.TableStyle-Important
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: #000000;
	border-right-style: none;
	border-right-color: #000000;
	border-top-style: none;
	border-top-color: #000000;
	border-bottom-style: none;
	border-bottom-color: #000000;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	border-spacing: 0px 0px;
}

.TableStyle-Important-Column-Column1
{
	
}

.TableStyle-Important-Head-Header1
{
	
}

.TableStyle-Important-HeadI-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Important-HeadI-Column1-Header1 p
{
	
}

.TableStyle-Important-HeadE-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Important-HeadE-Column1-Header1 p
{
	
}

.TableStyle-Important-HeadF-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Important-HeadF-Column1-Header1 p
{
	
}

.TableStyle-Important-HeadH-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Important-HeadH-Column1-Header1 p
{
	
}

.TableStyle-Important-HeadD-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Important-HeadD-Column1-Header1 p
{
	
}

.TableStyle-Important-HeadC-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Important-HeadC-Column1-Header1 p
{
	
}

.TableStyle-Important-HeadB-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Important-HeadB-Column1-Header1 p
{
	
}

.TableStyle-Important-HeadA-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Important-HeadA-Column1-Header1 p
{
	
}

.TableStyle-Important-HeadG-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Important-HeadG-Column1-Header1 p
{
	
}

.TableStyle-Important-Foot-Footer1
{
	
}

.TableStyle-Important-FootI-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Important-FootI-Column1-Footer1 p
{
	
}

.TableStyle-Important-FootE-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Important-FootE-Column1-Footer1 p
{
	
}

.TableStyle-Important-FootF-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Important-FootF-Column1-Footer1 p
{
	
}

.TableStyle-Important-FootH-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Important-FootH-Column1-Footer1 p
{
	
}

.TableStyle-Important-FootD-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Important-FootD-Column1-Footer1 p
{
	
}

.TableStyle-Important-FootC-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Important-FootC-Column1-Footer1 p
{
	
}

.TableStyle-Important-FootB-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Important-FootB-Column1-Footer1 p
{
	
}

.TableStyle-Important-FootA-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Important-FootA-Column1-Footer1 p
{
	
}

.TableStyle-Important-FootG-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Important-FootG-Column1-Footer1 p
{
	
}

.TableStyle-Important-Body-Body1
{
	
}

.TableStyle-Important-BodyI-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #ff9999;
}

.TableStyle-Important-BodyI-Column1-Body1 p
{
	
}

.TableStyle-Important-BodyE-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #ff9999;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-Important-BodyE-Column1-Body1 p
{
	
}

.TableStyle-Important-BodyF-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #ff9999;
	border-bottom-style: none;
}

.TableStyle-Important-BodyF-Column1-Body1 p
{
	
}

.TableStyle-Important-BodyH-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #ff9999;
	border-right-style: none;
}

.TableStyle-Important-BodyH-Column1-Body1 p
{
	
}

.TableStyle-Important-BodyD-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #ff9999;
	border-bottom-style: none;
}

.TableStyle-Important-BodyD-Column1-Body1 p
{
	
}

.TableStyle-Important-BodyC-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #ff9999;
}

.TableStyle-Important-BodyC-Column1-Body1 p
{
	
}

.TableStyle-Important-BodyB-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #ff9999;
	border-right-style: none;
}

.TableStyle-Important-BodyB-Column1-Body1 p
{
	
}

.TableStyle-Important-BodyA-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #ff9999;
}

.TableStyle-Important-BodyA-Column1-Body1 p
{
	
}

.TableStyle-Important-BodyG-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #ff9999;
}

.TableStyle-Important-BodyG-Column1-Body1 p
{
	
}

.TableStyle-Important-Body-Body2
{
	
}

.TableStyle-Important-BodyI-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Important-BodyI-Column1-Body2 p
{
	
}

.TableStyle-Important-BodyE-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-Important-BodyE-Column1-Body2 p
{
	
}

.TableStyle-Important-BodyF-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-bottom-style: none;
}

.TableStyle-Important-BodyF-Column1-Body2 p
{
	
}

.TableStyle-Important-BodyH-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Important-BodyH-Column1-Body2 p
{
	
}

.TableStyle-Important-BodyD-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-bottom-style: none;
}

.TableStyle-Important-BodyD-Column1-Body2 p
{
	
}

.TableStyle-Important-BodyC-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Important-BodyC-Column1-Body2 p
{
	
}

.TableStyle-Important-BodyB-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Important-BodyB-Column1-Body2 p
{
	
}

.TableStyle-Important-BodyA-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Important-BodyA-Column1-Body2 p
{
	
}

.TableStyle-Important-BodyG-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Important-BodyG-Column1-Body2 p
{
	
}


