/* MadCap Table Style: */

/*<meta sourceDocument="C:\Users\nlaughli\Documents\Lawful Intercept\Xcipio 7.4.0\Xcipio_Security_Manual_2700-4239\Setting Unix Password Complexity.fm" Version="9" />*/

mcTableStyle
{
	name: Note_Tip;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-collapse: collapse;
	border-left-color: #000000;
	border-right-color: #000000;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-top-style: none;
	border-bottom-style: none;
	border-right-style: none;
	border-left-style: none;
	cell-padding-top: 2pt;
	cell-padding-left: 2pt;
	cell-padding-right: 2pt;
	cell-padding-bottom: 2pt;
	max-id: 4;
}

mcTableColumnStyle
{
	separator-style: none;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	name: Header1;
	id: 3;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: none;
	background-color: #cbe5ff;
	name: Body1;
	id: 1;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: none;
	name: Body2;
	id: 2;
}

mcTableFootStyle
{
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
.TableStyle-Note_Tip
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: #000000;
	border-right-style: none;
	border-right-color: #000000;
	border-top-style: none;
	border-top-color: #000000;
	border-bottom-style: none;
	border-bottom-color: #000000;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	border-spacing: 0px 0px;
}

.TableStyle-Note_Tip-Column-Column1
{
	
}

.TableStyle-Note_Tip-Head-Header1
{
	
}

.TableStyle-Note_Tip-HeadI-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Note_Tip-HeadI-Column1-Header1 p
{
	
}

.TableStyle-Note_Tip-HeadE-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Note_Tip-HeadE-Column1-Header1 p
{
	
}

.TableStyle-Note_Tip-HeadF-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Note_Tip-HeadF-Column1-Header1 p
{
	
}

.TableStyle-Note_Tip-HeadH-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Note_Tip-HeadH-Column1-Header1 p
{
	
}

.TableStyle-Note_Tip-HeadD-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Note_Tip-HeadD-Column1-Header1 p
{
	
}

.TableStyle-Note_Tip-HeadC-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Note_Tip-HeadC-Column1-Header1 p
{
	
}

.TableStyle-Note_Tip-HeadB-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Note_Tip-HeadB-Column1-Header1 p
{
	
}

.TableStyle-Note_Tip-HeadA-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Note_Tip-HeadA-Column1-Header1 p
{
	
}

.TableStyle-Note_Tip-HeadG-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Note_Tip-HeadG-Column1-Header1 p
{
	
}

.TableStyle-Note_Tip-Foot-Footer1
{
	
}

.TableStyle-Note_Tip-FootI-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Note_Tip-FootI-Column1-Footer1 p
{
	
}

.TableStyle-Note_Tip-FootE-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Note_Tip-FootE-Column1-Footer1 p
{
	
}

.TableStyle-Note_Tip-FootF-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Note_Tip-FootF-Column1-Footer1 p
{
	
}

.TableStyle-Note_Tip-FootH-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Note_Tip-FootH-Column1-Footer1 p
{
	
}

.TableStyle-Note_Tip-FootD-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Note_Tip-FootD-Column1-Footer1 p
{
	
}

.TableStyle-Note_Tip-FootC-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Note_Tip-FootC-Column1-Footer1 p
{
	
}

.TableStyle-Note_Tip-FootB-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Note_Tip-FootB-Column1-Footer1 p
{
	
}

.TableStyle-Note_Tip-FootA-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Note_Tip-FootA-Column1-Footer1 p
{
	
}

.TableStyle-Note_Tip-FootG-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Note_Tip-FootG-Column1-Footer1 p
{
	
}

.TableStyle-Note_Tip-Body-Body1
{
	
}

.TableStyle-Note_Tip-BodyI-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #cbe5ff;
}

.TableStyle-Note_Tip-BodyI-Column1-Body1 p
{
	
}

.TableStyle-Note_Tip-BodyE-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #cbe5ff;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-Note_Tip-BodyE-Column1-Body1 p
{
	
}

.TableStyle-Note_Tip-BodyF-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #cbe5ff;
	border-bottom-style: none;
}

.TableStyle-Note_Tip-BodyF-Column1-Body1 p
{
	
}

.TableStyle-Note_Tip-BodyH-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #cbe5ff;
	border-right-style: none;
}

.TableStyle-Note_Tip-BodyH-Column1-Body1 p
{
	
}

.TableStyle-Note_Tip-BodyD-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #cbe5ff;
	border-bottom-style: none;
}

.TableStyle-Note_Tip-BodyD-Column1-Body1 p
{
	
}

.TableStyle-Note_Tip-BodyC-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #cbe5ff;
}

.TableStyle-Note_Tip-BodyC-Column1-Body1 p
{
	
}

.TableStyle-Note_Tip-BodyB-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #cbe5ff;
	border-right-style: none;
}

.TableStyle-Note_Tip-BodyB-Column1-Body1 p
{
	
}

.TableStyle-Note_Tip-BodyA-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #cbe5ff;
}

.TableStyle-Note_Tip-BodyA-Column1-Body1 p
{
	
}

.TableStyle-Note_Tip-BodyG-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #cbe5ff;
}

.TableStyle-Note_Tip-BodyG-Column1-Body1 p
{
	
}

.TableStyle-Note_Tip-Body-Body2
{
	
}

.TableStyle-Note_Tip-BodyI-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Note_Tip-BodyI-Column1-Body2 p
{
	
}

.TableStyle-Note_Tip-BodyE-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-Note_Tip-BodyE-Column1-Body2 p
{
	
}

.TableStyle-Note_Tip-BodyF-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-bottom-style: none;
}

.TableStyle-Note_Tip-BodyF-Column1-Body2 p
{
	
}

.TableStyle-Note_Tip-BodyH-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Note_Tip-BodyH-Column1-Body2 p
{
	
}

.TableStyle-Note_Tip-BodyD-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-bottom-style: none;
}

.TableStyle-Note_Tip-BodyD-Column1-Body2 p
{
	
}

.TableStyle-Note_Tip-BodyC-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Note_Tip-BodyC-Column1-Body2 p
{
	
}

.TableStyle-Note_Tip-BodyB-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Note_Tip-BodyB-Column1-Body2 p
{
	
}

.TableStyle-Note_Tip-BodyA-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Note_Tip-BodyA-Column1-Body2 p
{
	
}

.TableStyle-Note_Tip-BodyG-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Note_Tip-BodyG-Column1-Body2 p
{
	
}


