/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Numberless;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-collapse: collapse;
	border-left-color: #000000;
	border-right-color: #000000;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
	cell-padding-top: 4pt;
	cell-padding-left: 2pt;
	cell-padding-right: 4pt;
	cell-padding-bottom: 2pt;
	max-id: 4;
}

mcTableColumnStyle
{
	separator-style: solid;
	separator-width: 1px;
	separator-color: #004064;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	background-color: #99dbff;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #004064;
	name: Header1;
	id: 3;
}

mcTableBodyStyle
{
	span: 0;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #004064;
	name: Body1;
	id: 1;
}

mcTableBodyStyle
{
	span: 0;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #004064;
	name: Body2;
	id: 2;
}

mcTableFootStyle
{
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
.TableStyle-Numberless
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	border-spacing: 0px 0px;
}

.TableStyle-Numberless-Column-Column1
{
	
}

.TableStyle-Numberless-Head-Header1
{
	
}

.TableStyle-Numberless-HeadI-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
	background-color: #99dbff;
}

.TableStyle-Numberless-HeadI-Column1-Header1 p
{
	
}

.TableStyle-Numberless-HeadE-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #004064;
	border-right-style: solid;
	background-color: #99dbff;
	border-bottom-width: 1px;
	border-bottom-color: #004064;
	border-bottom-style: solid;
}

.TableStyle-Numberless-HeadE-Column1-Header1 p
{
	
}

.TableStyle-Numberless-HeadF-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
	background-color: #99dbff;
	border-bottom-width: 1px;
	border-bottom-color: #004064;
	border-bottom-style: solid;
}

.TableStyle-Numberless-HeadF-Column1-Header1 p
{
	
}

.TableStyle-Numberless-HeadH-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #004064;
	border-right-style: solid;
	background-color: #99dbff;
}

.TableStyle-Numberless-HeadH-Column1-Header1 p
{
	
}

.TableStyle-Numberless-HeadD-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
	background-color: #99dbff;
	border-bottom-width: 1px;
	border-bottom-color: #004064;
	border-bottom-style: solid;
}

.TableStyle-Numberless-HeadD-Column1-Header1 p
{
	
}

.TableStyle-Numberless-HeadC-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
	background-color: #99dbff;
}

.TableStyle-Numberless-HeadC-Column1-Header1 p
{
	
}

.TableStyle-Numberless-HeadB-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #004064;
	border-right-style: solid;
	background-color: #99dbff;
}

.TableStyle-Numberless-HeadB-Column1-Header1 p
{
	
}

.TableStyle-Numberless-HeadA-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
	background-color: #99dbff;
}

.TableStyle-Numberless-HeadA-Column1-Header1 p
{
	
}

.TableStyle-Numberless-HeadG-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
	background-color: #99dbff;
}

.TableStyle-Numberless-HeadG-Column1-Header1 p
{
	
}

.TableStyle-Numberless-Foot-Footer1
{
	
}

.TableStyle-Numberless-FootI-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
}

.TableStyle-Numberless-FootI-Column1-Footer1 p
{
	
}

.TableStyle-Numberless-FootE-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #004064;
	border-right-style: solid;
}

.TableStyle-Numberless-FootE-Column1-Footer1 p
{
	
}

.TableStyle-Numberless-FootF-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
}

.TableStyle-Numberless-FootF-Column1-Footer1 p
{
	
}

.TableStyle-Numberless-FootH-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #004064;
	border-right-style: solid;
}

.TableStyle-Numberless-FootH-Column1-Footer1 p
{
	
}

.TableStyle-Numberless-FootD-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
}

.TableStyle-Numberless-FootD-Column1-Footer1 p
{
	
}

.TableStyle-Numberless-FootC-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
}

.TableStyle-Numberless-FootC-Column1-Footer1 p
{
	
}

.TableStyle-Numberless-FootB-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #004064;
	border-right-style: solid;
}

.TableStyle-Numberless-FootB-Column1-Footer1 p
{
	
}

.TableStyle-Numberless-FootA-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
}

.TableStyle-Numberless-FootA-Column1-Footer1 p
{
	
}

.TableStyle-Numberless-FootG-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
}

.TableStyle-Numberless-FootG-Column1-Footer1 p
{
	
}

.TableStyle-Numberless-Body-Body1
{
	
}

.TableStyle-Numberless-BodyI-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
}

.TableStyle-Numberless-BodyI-Column1-Body1 p
{
	
}

.TableStyle-Numberless-BodyE-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
	border-bottom-width: 1px;
	border-bottom-color: #004064;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #004064;
	border-right-style: solid;
}

.TableStyle-Numberless-BodyE-Column1-Body1 p
{
	
}

.TableStyle-Numberless-BodyF-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
	border-bottom-width: 1px;
	border-bottom-color: #004064;
	border-bottom-style: solid;
}

.TableStyle-Numberless-BodyF-Column1-Body1 p
{
	
}

.TableStyle-Numberless-BodyH-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #004064;
	border-right-style: solid;
}

.TableStyle-Numberless-BodyH-Column1-Body1 p
{
	
}

.TableStyle-Numberless-BodyD-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
	border-bottom-width: 1px;
	border-bottom-color: #004064;
	border-bottom-style: solid;
}

.TableStyle-Numberless-BodyD-Column1-Body1 p
{
	
}

.TableStyle-Numberless-BodyC-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
}

.TableStyle-Numberless-BodyC-Column1-Body1 p
{
	
}

.TableStyle-Numberless-BodyB-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #004064;
	border-right-style: solid;
}

.TableStyle-Numberless-BodyB-Column1-Body1 p
{
	
}

.TableStyle-Numberless-BodyA-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
}

.TableStyle-Numberless-BodyA-Column1-Body1 p
{
	
}

.TableStyle-Numberless-BodyG-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
}

.TableStyle-Numberless-BodyG-Column1-Body1 p
{
	
}

.TableStyle-Numberless-Body-Body2
{
	
}

.TableStyle-Numberless-BodyI-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
}

.TableStyle-Numberless-BodyI-Column1-Body2 p
{
	
}

.TableStyle-Numberless-BodyE-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
	border-bottom-width: 1px;
	border-bottom-color: #004064;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #004064;
	border-right-style: solid;
}

.TableStyle-Numberless-BodyE-Column1-Body2 p
{
	
}

.TableStyle-Numberless-BodyF-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
	border-bottom-width: 1px;
	border-bottom-color: #004064;
	border-bottom-style: solid;
}

.TableStyle-Numberless-BodyF-Column1-Body2 p
{
	
}

.TableStyle-Numberless-BodyH-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #004064;
	border-right-style: solid;
}

.TableStyle-Numberless-BodyH-Column1-Body2 p
{
	
}

.TableStyle-Numberless-BodyD-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
	border-bottom-width: 1px;
	border-bottom-color: #004064;
	border-bottom-style: solid;
}

.TableStyle-Numberless-BodyD-Column1-Body2 p
{
	
}

.TableStyle-Numberless-BodyC-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
}

.TableStyle-Numberless-BodyC-Column1-Body2 p
{
	
}

.TableStyle-Numberless-BodyB-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #004064;
	border-right-style: solid;
}

.TableStyle-Numberless-BodyB-Column1-Body2 p
{
	
}

.TableStyle-Numberless-BodyA-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
}

.TableStyle-Numberless-BodyA-Column1-Body2 p
{
	
}

.TableStyle-Numberless-BodyG-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
}

.TableStyle-Numberless-BodyG-Column1-Body2 p
{
	
}


