/* MadCap Table Style: */

/*<meta sourceDocument="C:\Users\nlaughli\Documents\Lawful Intercept\Xcipio 8.1.0\Xcipio_Administrator_Manual_2700-4253\Operating Commands.fm" Version="9" />*/

mcTableStyle
{
	name: Numbered;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 12pt;
	margin-bottom: 0pt;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-collapse: collapse;
	border-left-color: #000000;
	border-right-color: #000000;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
	cell-padding-top: 4pt;
	cell-padding-left: 2pt;
	cell-padding-right: 4pt;
	cell-padding-bottom: 2pt;
	max-id: 4;
}

mcTableColumnStyle
{
	separator-style: solid;
	separator-width: 1px;
	separator-color: #004064;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	background-color: #99dbff;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #004064;
	name: Header1;
	id: 3;
}

mcTableBodyStyle
{
	span: 0;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #004064;
	name: Body1;
	id: 1;
}

mcTableBodyStyle
{
	span: 0;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #004064;
	name: Body2;
	id: 2;
}

mcTableFootStyle
{
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
.TableStyle-Numbered
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 12pt;
	margin-bottom: 0pt;
	border-spacing: 0px 0px;
}

.TableStyle-Numbered-Column-Column1
{
	
}

.TableStyle-Numbered-Head-Header1
{
	
}

.TableStyle-Numbered-HeadI-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
	background-color: #99dbff;
}

.TableStyle-Numbered-HeadI-Column1-Header1 p
{
	
}

.TableStyle-Numbered-HeadE-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #004064;
	border-right-style: solid;
	background-color: #99dbff;
	border-bottom-width: 1px;
	border-bottom-color: #004064;
	border-bottom-style: solid;
}

.TableStyle-Numbered-HeadE-Column1-Header1 p
{
	
}

.TableStyle-Numbered-HeadF-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
	background-color: #99dbff;
	border-bottom-width: 1px;
	border-bottom-color: #004064;
	border-bottom-style: solid;
}

.TableStyle-Numbered-HeadF-Column1-Header1 p
{
	
}

.TableStyle-Numbered-HeadH-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #004064;
	border-right-style: solid;
	background-color: #99dbff;
}

.TableStyle-Numbered-HeadH-Column1-Header1 p
{
	
}

.TableStyle-Numbered-HeadD-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
	background-color: #99dbff;
	border-bottom-width: 1px;
	border-bottom-color: #004064;
	border-bottom-style: solid;
}

.TableStyle-Numbered-HeadD-Column1-Header1 p
{
	
}

.TableStyle-Numbered-HeadC-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
	background-color: #99dbff;
}

.TableStyle-Numbered-HeadC-Column1-Header1 p
{
	
}

.TableStyle-Numbered-HeadB-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #004064;
	border-right-style: solid;
	background-color: #99dbff;
}

.TableStyle-Numbered-HeadB-Column1-Header1 p
{
	
}

.TableStyle-Numbered-HeadA-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
	background-color: #99dbff;
}

.TableStyle-Numbered-HeadA-Column1-Header1 p
{
	
}

.TableStyle-Numbered-HeadG-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
	background-color: #99dbff;
}

.TableStyle-Numbered-HeadG-Column1-Header1 p
{
	
}

.TableStyle-Numbered-Foot-Footer1
{
	
}

.TableStyle-Numbered-FootI-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
}

.TableStyle-Numbered-FootI-Column1-Footer1 p
{
	
}

.TableStyle-Numbered-FootE-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #004064;
	border-right-style: solid;
}

.TableStyle-Numbered-FootE-Column1-Footer1 p
{
	
}

.TableStyle-Numbered-FootF-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
}

.TableStyle-Numbered-FootF-Column1-Footer1 p
{
	
}

.TableStyle-Numbered-FootH-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #004064;
	border-right-style: solid;
}

.TableStyle-Numbered-FootH-Column1-Footer1 p
{
	
}

.TableStyle-Numbered-FootD-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
}

.TableStyle-Numbered-FootD-Column1-Footer1 p
{
	
}

.TableStyle-Numbered-FootC-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
}

.TableStyle-Numbered-FootC-Column1-Footer1 p
{
	
}

.TableStyle-Numbered-FootB-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #004064;
	border-right-style: solid;
}

.TableStyle-Numbered-FootB-Column1-Footer1 p
{
	
}

.TableStyle-Numbered-FootA-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
}

.TableStyle-Numbered-FootA-Column1-Footer1 p
{
	
}

.TableStyle-Numbered-FootG-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
}

.TableStyle-Numbered-FootG-Column1-Footer1 p
{
	
}

.TableStyle-Numbered-Body-Body1
{
	
}

.TableStyle-Numbered-BodyI-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
}

.TableStyle-Numbered-BodyI-Column1-Body1 p
{
	
}

.TableStyle-Numbered-BodyE-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
	border-bottom-width: 1px;
	border-bottom-color: #004064;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #004064;
	border-right-style: solid;
}

.TableStyle-Numbered-BodyE-Column1-Body1 p
{
	
}

.TableStyle-Numbered-BodyF-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
	border-bottom-width: 1px;
	border-bottom-color: #004064;
	border-bottom-style: solid;
}

.TableStyle-Numbered-BodyF-Column1-Body1 p
{
	
}

.TableStyle-Numbered-BodyH-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #004064;
	border-right-style: solid;
}

.TableStyle-Numbered-BodyH-Column1-Body1 p
{
	
}

.TableStyle-Numbered-BodyD-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
	border-bottom-width: 1px;
	border-bottom-color: #004064;
	border-bottom-style: solid;
}

.TableStyle-Numbered-BodyD-Column1-Body1 p
{
	
}

.TableStyle-Numbered-BodyC-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
}

.TableStyle-Numbered-BodyC-Column1-Body1 p
{
	
}

.TableStyle-Numbered-BodyB-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #004064;
	border-right-style: solid;
}

.TableStyle-Numbered-BodyB-Column1-Body1 p
{
	
}

.TableStyle-Numbered-BodyA-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
}

.TableStyle-Numbered-BodyA-Column1-Body1 p
{
	
}

.TableStyle-Numbered-BodyG-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
}

.TableStyle-Numbered-BodyG-Column1-Body1 p
{
	
}

.TableStyle-Numbered-Body-Body2
{
	
}

.TableStyle-Numbered-BodyI-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
}

.TableStyle-Numbered-BodyI-Column1-Body2 p
{
	
}

.TableStyle-Numbered-BodyE-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
	border-bottom-width: 1px;
	border-bottom-color: #004064;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #004064;
	border-right-style: solid;
}

.TableStyle-Numbered-BodyE-Column1-Body2 p
{
	
}

.TableStyle-Numbered-BodyF-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
	border-bottom-width: 1px;
	border-bottom-color: #004064;
	border-bottom-style: solid;
}

.TableStyle-Numbered-BodyF-Column1-Body2 p
{
	
}

.TableStyle-Numbered-BodyH-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #004064;
	border-right-style: solid;
}

.TableStyle-Numbered-BodyH-Column1-Body2 p
{
	
}

.TableStyle-Numbered-BodyD-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
	border-bottom-width: 1px;
	border-bottom-color: #004064;
	border-bottom-style: solid;
}

.TableStyle-Numbered-BodyD-Column1-Body2 p
{
	
}

.TableStyle-Numbered-BodyC-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
}

.TableStyle-Numbered-BodyC-Column1-Body2 p
{
	
}

.TableStyle-Numbered-BodyB-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #004064;
	border-right-style: solid;
}

.TableStyle-Numbered-BodyB-Column1-Body2 p
{
	
}

.TableStyle-Numbered-BodyA-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
}

.TableStyle-Numbered-BodyA-Column1-Body2 p
{
	
}

.TableStyle-Numbered-BodyG-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 2pt;
}

.TableStyle-Numbered-BodyG-Column1-Body2 p
{
	
}


