/* MadCap Table Style: */

/*<meta sourceDocument="C:\Users\nlaughli\Documents\Lawful Intercept\Xcipio 7.4.0\Xcipio_Security_Manual_2700-4239\Setting Unix Password Complexity.fm" Version="9" />*/

mcTableStyle
{
	name: Screen_Text;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-collapse: collapse;
	border-left-color: #000000;
	border-right-color: #000000;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-top-style: none;
	border-bottom-style: none;
	border-right-style: none;
	border-left-style: none;
	cell-padding-top: 2pt;
	cell-padding-left: 2pt;
	cell-padding-right: 2pt;
	cell-padding-bottom: 2pt;
	max-id: 4;
}

mcTableColumnStyle
{
	separator-style: none;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	name: Header1;
	id: 3;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: none;
	background-color: #cbffcb;
	name: Body1;
	id: 1;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: none;
	background-color: #cbffcb;
	name: Body2;
	id: 2;
}

mcTableFootStyle
{
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
.TableStyle-Screen_Text
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: #000000;
	border-right-style: none;
	border-right-color: #000000;
	border-top-style: none;
	border-top-color: #000000;
	border-bottom-style: none;
	border-bottom-color: #000000;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	border-spacing: 0px 0px;
}

.TableStyle-Screen_Text-Column-Column1
{
	
}

.TableStyle-Screen_Text-Head-Header1
{
	
}

.TableStyle-Screen_Text-HeadI-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Screen_Text-HeadI-Column1-Header1 p
{
	
}

.TableStyle-Screen_Text-HeadE-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Screen_Text-HeadE-Column1-Header1 p
{
	
}

.TableStyle-Screen_Text-HeadF-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Screen_Text-HeadF-Column1-Header1 p
{
	
}

.TableStyle-Screen_Text-HeadH-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Screen_Text-HeadH-Column1-Header1 p
{
	
}

.TableStyle-Screen_Text-HeadD-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Screen_Text-HeadD-Column1-Header1 p
{
	
}

.TableStyle-Screen_Text-HeadC-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Screen_Text-HeadC-Column1-Header1 p
{
	
}

.TableStyle-Screen_Text-HeadB-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Screen_Text-HeadB-Column1-Header1 p
{
	
}

.TableStyle-Screen_Text-HeadA-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Screen_Text-HeadA-Column1-Header1 p
{
	
}

.TableStyle-Screen_Text-HeadG-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Screen_Text-HeadG-Column1-Header1 p
{
	
}

.TableStyle-Screen_Text-Foot-Footer1
{
	
}

.TableStyle-Screen_Text-FootI-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Screen_Text-FootI-Column1-Footer1 p
{
	
}

.TableStyle-Screen_Text-FootE-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Screen_Text-FootE-Column1-Footer1 p
{
	
}

.TableStyle-Screen_Text-FootF-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Screen_Text-FootF-Column1-Footer1 p
{
	
}

.TableStyle-Screen_Text-FootH-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Screen_Text-FootH-Column1-Footer1 p
{
	
}

.TableStyle-Screen_Text-FootD-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Screen_Text-FootD-Column1-Footer1 p
{
	
}

.TableStyle-Screen_Text-FootC-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Screen_Text-FootC-Column1-Footer1 p
{
	
}

.TableStyle-Screen_Text-FootB-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Screen_Text-FootB-Column1-Footer1 p
{
	
}

.TableStyle-Screen_Text-FootA-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Screen_Text-FootA-Column1-Footer1 p
{
	
}

.TableStyle-Screen_Text-FootG-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-Screen_Text-FootG-Column1-Footer1 p
{
	
}

.TableStyle-Screen_Text-Body-Body1
{
	
}

.TableStyle-Screen_Text-BodyI-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #cbffcb;
}

.TableStyle-Screen_Text-BodyI-Column1-Body1 p
{
	
}

.TableStyle-Screen_Text-BodyE-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #cbffcb;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-Screen_Text-BodyE-Column1-Body1 p
{
	
}

.TableStyle-Screen_Text-BodyF-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #cbffcb;
	border-bottom-style: none;
}

.TableStyle-Screen_Text-BodyF-Column1-Body1 p
{
	
}

.TableStyle-Screen_Text-BodyH-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #cbffcb;
	border-right-style: none;
}

.TableStyle-Screen_Text-BodyH-Column1-Body1 p
{
	
}

.TableStyle-Screen_Text-BodyD-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #cbffcb;
	border-bottom-style: none;
}

.TableStyle-Screen_Text-BodyD-Column1-Body1 p
{
	
}

.TableStyle-Screen_Text-BodyC-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #cbffcb;
}

.TableStyle-Screen_Text-BodyC-Column1-Body1 p
{
	
}

.TableStyle-Screen_Text-BodyB-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #cbffcb;
	border-right-style: none;
}

.TableStyle-Screen_Text-BodyB-Column1-Body1 p
{
	
}

.TableStyle-Screen_Text-BodyA-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #cbffcb;
}

.TableStyle-Screen_Text-BodyA-Column1-Body1 p
{
	
}

.TableStyle-Screen_Text-BodyG-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #cbffcb;
}

.TableStyle-Screen_Text-BodyG-Column1-Body1 p
{
	
}

.TableStyle-Screen_Text-Body-Body2
{
	
}

.TableStyle-Screen_Text-BodyI-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #cbffcb;
}

.TableStyle-Screen_Text-BodyI-Column1-Body2 p
{
	
}

.TableStyle-Screen_Text-BodyE-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #cbffcb;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-Screen_Text-BodyE-Column1-Body2 p
{
	
}

.TableStyle-Screen_Text-BodyF-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #cbffcb;
	border-bottom-style: none;
}

.TableStyle-Screen_Text-BodyF-Column1-Body2 p
{
	
}

.TableStyle-Screen_Text-BodyH-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #cbffcb;
	border-right-style: none;
}

.TableStyle-Screen_Text-BodyH-Column1-Body2 p
{
	
}

.TableStyle-Screen_Text-BodyD-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #cbffcb;
	border-bottom-style: none;
}

.TableStyle-Screen_Text-BodyD-Column1-Body2 p
{
	
}

.TableStyle-Screen_Text-BodyC-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #cbffcb;
}

.TableStyle-Screen_Text-BodyC-Column1-Body2 p
{
	
}

.TableStyle-Screen_Text-BodyB-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #cbffcb;
	border-right-style: none;
}

.TableStyle-Screen_Text-BodyB-Column1-Body2 p
{
	
}

.TableStyle-Screen_Text-BodyA-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #cbffcb;
}

.TableStyle-Screen_Text-BodyA-Column1-Body2 p
{
	
}

.TableStyle-Screen_Text-BodyG-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #cbffcb;
}

.TableStyle-Screen_Text-BodyG-Column1-Body2 p
{
	
}


