/*<meta />*/

p.Body_Text_1
{
	text-align: left;
	margin-right: 0in;
	margin-top: 13pt;
	margin-bottom: 0pt;
	margin-left: 1in;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
	padding-left: 0in;
}

p.Copyright_Text
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 12pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 12pt;
	text-decoration: none;
	mc-disable-glossary-terms: true;
}

p.Copyright_Head
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 12pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 12pt;
	text-decoration: none;
	color: #3d5866;
	mc-disable-glossary-terms: true;
}

span.Interface_Label
{
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	line-height: 13pt;
	text-decoration: none;
	mc-disable-glossary-terms: true;
}

p.Table_Head_Center_Small
{
	text-align: center;
	margin-left: 0in;
	margin-right: 0in;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #004064;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 12pt;
	text-decoration: none;
	margin-top: 4pt;
	mc-disable-glossary-terms: true;
}

p.Table_Body_Left_Small_1
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 4pt;
	margin-bottom: 4pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 11pt;
	text-decoration: none;
}

p.Table_Body_Center_Small
{
	text-align: center;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 4pt;
	margin-bottom: 4pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
}

h1.Head_1
{
	text-align: left;
	margin-right: 0in;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 24pt;
	letter-spacing: 0em;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 29pt;
	text-decoration: none;
	mc-heading-level: 2;
	color: #3d5866;
	margin-left: 0in;
	margin-top: 29pt;
}

span.Interface_Entry
{
	font-family: 'Arial Narrow';
	font-weight: bold;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	line-height: 13pt;
	text-decoration: none;
	mc-disable-glossary-terms: true;
}

i.Italics
{
	font-style: italic;
	letter-spacing: 0em;
	text-decoration: none;
}

a.Link_Topic
{
	color: #0000ff;
}

a.Link_Popup
{
	color: #007f00;
}

span.Link_External
{
	color: #7f007f;
	mc-disable-glossary-terms: true;
}

span.Screen_Text
{
	font-family: 'Courier New';
	font-size: 9pt;
	line-height: 11pt;
	mc-disable-glossary-terms: true;
}

span.Note
{
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	letter-spacing: 0em;
	text-decoration: none;
	color: #3d5866;
	mc-disable-glossary-terms: true;
}

span.Document
{
	font-family: Georgia;
	font-style: italic;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	line-height: 13pt;
	text-decoration: none;
	mc-disable-glossary-terms: true;
}

MadCap|xref.Popup_Glossary
{
	mc-format: '{paratext}';
	text-decoration: none;
	color: #006400;
}

p.Figure
{
	text-align: left;
	margin-right: 0in;
	margin-top: 13pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #004064;
	mc-hyphenate: never;
	line-height: 13pt;
	text-decoration: none;
	page-break-after: avoid;
	mc-auto-number-class: SS8_Orange_Bold;
	text-indent: 0px;
	mc-leader-indent: 0pt;
	mc-auto-number-offset: 0px;
	mc-auto-number-position: inside-head;
	margin-left: 1in;
	mc-auto-number-format: 'CF:Figure {chapnum}–{n+} ';
	mc-disable-glossary-terms: true;
}

p.Body_Text_2
{
	text-align: left;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
	padding-left: 0in;
	margin-left: 1.35in;
}

p.Table_Head_Center
{
	text-align: center;
	margin-left: 0in;
	margin-right: 0in;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #004064;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 14pt;
	text-decoration: none;
	margin-top: 6pt;
	mc-disable-glossary-terms: true;
}

h2.Head_2
{
	text-align: left;
	margin-right: 0in;
	margin-top: 20pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 18pt;
	letter-spacing: 0em;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 22pt;
	text-decoration: none;
	padding-bottom: 5px;
	color: #eb6700;
	mc-heading-level: 3;
	border-bottom-color: #3d5866;
	margin-left: 0in;
	border-bottom: solid 2pt #3d5866;
}

h3.Head_3
{
	text-align: left;
	margin-right: 0in;
	margin-top: 17pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 14pt;
	letter-spacing: 0em;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 17pt;
	text-decoration: none;
	mc-heading-level: 4;
	color: #3d5866;
	margin-left: 1in;
}

p.Table_Head_Left
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #004064;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 14pt;
	text-decoration: none;
	margin-top: 6pt;
	mc-disable-glossary-terms: true;
}

MadCap|xref.Paragraph_Number_Only
{
	mc-format: '{paranumonly}';
	text-decoration: none;
}

MadCap|xref.Paragraph_Text
{
	text-decoration: none;
	mc-format: '{paratext}';
}

MadCap|xref.Paragraph_Number
{
	mc-format: '{paranum}';
	text-decoration: none;
}

p.Body_Text_3
{
	text-align: left;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
	margin-left: 1.6in;
	padding-left: 0in;
}

code.Screen_Input
{
	font-family: 'Courier New';
	font-weight: bold;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #000000;
	line-height: 11pt;
	text-decoration: none;
}

span.See_Also
{
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	line-height: 13pt;
	text-decoration: none;
	color: #3d5866;
	mc-disable-glossary-terms: true;
}

p.Table_Head_Left_Small
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #004064;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 12pt;
	text-decoration: none;
	margin-top: 6pt;
	mc-disable-glossary-terms: true;
}

h4.Head_4
{
	text-align: left;
	margin-right: 0in;
	margin-top: 14pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: italic;
	font-size: 12pt;
	letter-spacing: 0em;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 14pt;
	text-decoration: none;
	color: #eb6700;
	mc-heading-level: 5;
	margin-left: 1in;
}

p.Appendix_Number
{
	text-align: right;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 24pt;
	letter-spacing: 0em;
	mc-hyphenate: never;
	mc-auto-number-position: inside-head;
	mc-auto-number-offset: 0px;
	text-indent: 0px;
	line-height: 29pt;
	text-transform: uppercase;
	text-decoration: none;
	mc-auto-number-format: 'Appendix {chapnum}';
	color: #e86700;
}

p.Glossary_Index
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 20pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 18pt;
	letter-spacing: 0em;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 22pt;
	text-decoration: none;
	color: #e86700;
}

p.Glossary_Group_Title
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 17pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 14pt;
	letter-spacing: 0em;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 17pt;
	text-decoration: none;
	color: #3d5866;
}

p.Popup_Glossary_Term
{
	text-align: left;
	margin-right: 0in;
	margin-top: 13pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
	margin-left: 0.5in;
}

p.Popup_Glossary_Definition
{
	text-align: left;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
	margin-left: 1in;
}

span.SS8_Blue
{
	color: #3d5866;
	mc-disable-glossary-terms: true;
}

span.SS8_Orange
{
	color: #e86700;
	mc-disable-glossary-terms: true;
}

p.Header_Left
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: normal;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0.1em;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 12pt;
	text-decoration: none;
	color: #e86700;
}

p.Header_Right
{
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: normal;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0.1em;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 12pt;
	text-decoration: none;
	text-align: right;
	color: #3d5866;
}

p.TOC1
{
	color: #3d5866;
	font-family: Arial;
	font-size: 16pt;
	line-height: 19pt;
	margin-bottom: 0em;
	margin: 0;
	margin-top: 19pt;
	margin-left: 0in;
}

@media print
{
	a.Link_Popup
	{
		color: #000000;
	}

	MadCap|xref.Popup_Glossary
	{
		color: #006400;
	}

	MadCap|xref.Paragraph_Number
	{
		color: #0000ff;
	}

	MadCap|xref.Paragraph_Number_Only
	{
		color: #0000ff;
	}

	MadCap|xref.Paragraph_Text
	{
		color: #0000ff;
		mc-format: '{quote}{paratext}{quote}';
	}

	MadCap|xref.Page_Number
	{
		
	}

	MadCap|xref
	{
		color: #0000ff;
	}

	MadCap|xref.Page_Number_Only
	{
		
	}

	MadCap|xref.Paragraph_Text_Parentheses_Page
	{
		text-decoration: none;
	}

	MadCap|xref.Popup_Figure
	{
		text-decoration: none;
		color: #006400;
	}

	MadCap|xref.Popup_Figure_Page
	{
		color: #006400;
		text-decoration: none;
	}

	p.List_Bullet_1
	{
		list-style-type: disc;
	}

	p.List_Bullet_2
	{
		list-style-type: disc;
		mc-auto-number-format: '• ';
	}

	p.List_Bullet_3
	{
		list-style-type: disc;
		mc-auto-number-format: '• ';
	}

	p.List_Bullet_4
	{
		mc-auto-number-format: '• ';
		list-style-type: disc;
	}

	p.List_Number_1_1st
	{
		
	}

	p.List_Number_1_nth
	{
		
	}

	p.List_Number_2_1st
	{
		
	}

	p.List_Number_2_nth
	{
		
	}

	p.List_Number_3_1st
	{
		
	}

	p.List_Number_3_nth
	{
		
	}

	h1.Head_1
	{
		page-break-before: avoid;
	}

	p.Chapter_Title
	{
		
	}

	p.TOC_Title
	{
		mc-heading-level: 0;
	}

	p.Body_Text_1
	{
		padding-left: 0in;
	}

	p.Body_Text_1_NoSpace
	{
		padding-left: 0in;
	}

	p.Body_Text_2
	{
		padding-left: 0in;
	}

	p.Body_Text_2_NoSpace
	{
		padding-left: 0in;
	}

	p.Body_Text_3
	{
		padding-left: 0in;
	}

	p.Body_Text_3_NoSpace
	{
		padding-left: 0in;
	}

	p.Body_Text_4
	{
		padding-left: 0in;
	}

	p.Body_Text_4_NoSpace
	{
		padding-left: 0in;
	}

	p.Table_List_Bullet_1
	{
		list-style-type: disc;
	}

	p.Table_List_Bullet_2
	{
		list-style-type: disc;
	}

	div.GlossaryPageTerm
	{
		color: #3d5866;
	}
}

@media non-print
{
	a.Popup
	{
		color: #007f00;
	}

	a.GlossaryPageTerm:active
	{
		color: #007f00;
	}

	a.GlossaryPageTerm:focus
	{
		color: #007f00;
	}

	a.GlossaryPageTerm:hover
	{
		color: #b22222;
	}

	a.Link_Popup:hover
	{
		color: #b22222;
	}

	a.Popup:hover
	{
		color: #b22222;
	}

	a.Link_Topic
	{
		
	}

	h1.Head_1
	{
		font-size: 18pt;
		margin-top: 0pt;
		line-height: normal;
	}

	h1.Head_1_Top
	{
		font-size: 18pt;
		margin-top: 0pt;
		line-height: normal;
	}

	h2.Head_2
	{
		font-size: 16pt;
		border-bottom: none 0pt;
		margin-top: 0pt;
		padding-bottom: 0px;
		line-height: normal;
	}

	h2.Head_2_Top
	{
		font-size: 16pt;
		border-bottom: none 0pt;
		margin-top: 0pt;
		padding-bottom: 0px;
		line-height: normal;
	}

	h3.Head_3
	{
		margin-top: 0pt;
		margin-left: 0in;
		line-height: normal;
	}

	h3.Head_3_Top
	{
		margin-top: 0pt;
		margin-left: 0in;
		line-height: normal;
	}

	h4.Head_4
	{
		margin-top: 0pt;
		margin-left: 0in;
		line-height: normal;
	}

	h4.Head_4_Top
	{
		margin-top: 0pt;
		margin-left: 0in;
		line-height: normal;
	}

	h5.Head_5
	{
		margin-top: 0pt;
		margin-left: 0in;
		line-height: normal;
	}

	h5.Head_5_Top
	{
		margin-top: 0pt;
		margin-left: 0in;
		line-height: normal;
	}

	h5
	{
		margin-left: 0in;
	}

	p.Body_Text_1
	{
		margin-left: 0in;
		padding-left: 0in;
	}

	p.Body_Text_2
	{
		margin-left: 0.35in;
		padding-left: 0in;
	}

	p.Body_Text_3
	{
		margin-left: 0.6in;
		padding-left: 0in;
	}

	p.Figure
	{
		margin-left: 0in;
	}

	p.Table_Title
	{
		margin-left: 0in;
	}

	body
	{
		
	}

	h1
	{
		color: #3d5866;
		font-family: Arial;
		font-size: 18pt;
		font-weight: bold;
		line-height: 20pt;
		text-decoration: none;
		text-align: left;
		margin-bottom: 0em;
		margin-top: 0em;
	}

	h2
	{
		color: #e86700;
		font-family: Arial;
		font-size: 16pt;
		font-style: normal;
		font-weight: bold;
		line-height: 18pt;
		text-decoration: none;
	}

	p.Popup_Glossary_Definition
	{
		margin-left: 1in;
	}

	p.Body_Text_1_NoSpace
	{
		margin-left: 0in;
		padding-left: 0in;
	}

	p.Body_Text_2_NoSpace
	{
		margin-left: 0.35in;
		padding-left: 0in;
	}

	p.Body_Text_3_NoSpace
	{
		margin-left: 0.6in;
		padding-left: 0in;
	}

	p.Body_Text_4
	{
		margin-left: 0.85in;
		padding-left: 0in;
	}

	p.Body_Text_4_NoSpace
	{
		margin-left: 0.85in;
		padding-left: 0in;
	}

	p.Figure_Top
	{
		margin-left: 0in;
	}

	p.Footnote
	{
		margin-left: 0in;
	}

	p.List_Bullet_1
	{
		margin-left: 0.35in;
	}

	p.List_Bullet_2
	{
		margin-left: 0.6in;
	}

	p.List_Bullet_3
	{
		margin-left: 0.85in;
	}

	p.List_Bullet_4
	{
		margin-left: 1.1in;
	}

	p.List_Number_1_1st
	{
		margin-left: 0.35in;
	}

	p.List_Number_1_nth
	{
		margin-left: 0.35in;
	}

	p.List_Number_2_1st
	{
		margin-left: 0.6in;
		margin-top: 6pt;
	}

	p.List_Number_2_nth
	{
		margin-left: 0.6in;
		margin-top: 6pt;
	}

	p.List_Number_3_1st
	{
		margin-left: 0.85in;
		margin-top: 6pt;
	}

	p.List_Number_3_nth
	{
		margin-left: 0.85in;
		margin-top: 6pt;
	}

	p.Screen_Text_1
	{
		margin-left: 0in;
		padding-left: 0in;
	}

	p.Screen_Text_2
	{
		margin-left: 0.35in;
		padding-left: 0in;
	}

	p.Screen_Text_3
	{
		margin-left: 0.6in;
		padding-left: 0in;
	}

	p.Screen_Text_4
	{
		margin-left: 0.85in;
		padding-left: 0in;
	}

	p.Chapter_Title
	{
		background-image: none;
		font-size: 24pt;
		line-height: normal;
		color: #e86700;
		text-align: left;
		padding-bottom: 0px;
	}

	p.TOC_Title
	{
		background-image: none;
		font-size: 24pt;
		line-height: normal;
		color: #e86700;
		text-align: left;
		padding-bottom: 0px;
	}

	h3.Head_3_Top_no_TOC
	{
		line-height: normal;
	}

	MadCap|xref.Paragraph_Number_Only_Page
	{
		mc-format: '{paranumonly}';
	}

	MadCap|xref.Paragraph_Number_Page
	{
		mc-format: '{paranum}';
	}

	MadCap|xref.Paragraph_Text_Page
	{
		mc-format: '{paratext}';
	}

	MadCap|xref.Paragraph_Text_Parentheses_Page
	{
		mc-format: '{paratext}';
	}

	MadCap|xref.Popup_Figure_Page
	{
		mc-format: '{paranum}';
	}

	div.GlossaryPageTerm
	{
		
	}
}

span.SS8_Blue_Bold
{
	font-weight: bold;
	color: #3d5866;
	mc-disable-glossary-terms: true;
}

span.SS8_Orange_Bold
{
	font-weight: bold;
	color: #e86700;
	mc-disable-glossary-terms: true;
}

h5
{
	color: #3d5866;
	margin-left: 1in;
	mc-heading-level: 5;
}

h6
{
	color: #eb6700;
	margin-left: 1in;
	mc-heading-level: 6;
}

MadCap|listOfProxy
{
	mc-leader-format: '.';
	border-top-width: 0px;
	margin-left: 0in;
}

p.Chapter_Number
{
	text-align: right;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 24pt;
	letter-spacing: 0em;
	mc-hyphenate: never;
	mc-auto-number-format: 'Chapter {chapnum}';
	mc-auto-number-position: inside-head;
	mc-auto-number-offset: 0px;
	text-indent: 0px;
	line-height: 29pt;
	text-transform: uppercase;
	text-decoration: none;
	color: #e86700;
}

p.TOC2
{
	color: #000000;
	font-family: Arial;
	font-size: 14pt;
	font-weight: bold;
	line-height: 17px;
	margin-bottom: 0em;
	margin-top: 3pt;
	mc-hyphenate: never;
	margin-left: 1in;
}

p.TOC3
{
	color: #000000;
	font-family: Arial;
	font-size: 13pt;
	line-height: 16pt;
	margin-bottom: 0em;
	margin-top: 3pt;
	mc-hyphenate: never;
	margin-left: 1.25in;
}

p.TOC4
{
	color: #000000;
	font-family: Arial;
	font-size: 12pt;
	line-height: 15pt;
	margin-top: 3pt;
	mc-hyphenate: never;
	margin-bottom: 0em;
	margin-left: 1.35in;
}

p.TOC5
{
	color: #000000;
	font-family: Arial;
	font-size: 11pt;
	line-height: 13pt;
	margin-top: 2pt;
	margin-bottom: 0em;
	mc-hyphenate: never;
	margin-left: 1.6in;
}

p.TOC6
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	line-height: 12pt;
	margin-bottom: 0em;
	margin-top: 1pt;
	mc-hyphenate: always;
	margin-left: 1.85in;
}

p.IndexHeading
{
	color: #3d5866;
	font-family: Arial;
	font-size: 16pt;
	line-height: 19pt;
	margin-bottom: 0pt;
	margin-top: 19pt;
	mc-hyphenate: never;
	text-align: left;
}

p.Index1
{
	font-family: Georgia;
	font-size: 10pt;
	line-height: 12pt;
	margin-bottom: 0em;
	margin-left: 0.1in;
	margin-top: 2pt;
	mc-hyphenate: never;
}

p.Index2
{
	mc-hyphenate: never;
	font-family: Georgia;
	font-size: 10pt;
	line-height: 12pt;
	margin-bottom: 0em;
	margin-left: 0.35in;
	margin-top: 1pt;
}

MadCap|indexProxy
{
	border-top-width: 0px;
}

MadCap|tocProxy
{
	border-top-width: 0px;
	margin-left: 0in;
}

h1
{
	margin-bottom: 0em;
	font-family: Arial;
	font-size: 24pt;
	font-weight: bold;
	font-style: normal;
	line-height: 29pt;
	text-decoration: none;
	color: #3d5866;
	text-align: left;
	margin-top: 54pt;
	mc-hyphenate: never;
	mc-heading-level: 1;
}

h2
{
	color: #e86700;
	font-size: 18pt;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	font-family: Arial;
	line-height: 22pt;
	border-bottom: solid 2pt #3d5866;
	margin-bottom: 0em;
	margin-top: 20pt;
	padding-bottom: 5px;
	mc-hyphenate: never;
	mc-heading-level: 2;
}

h3
{
	mc-hyphenate: never;
	color: #3d5866;
	font-family: Arial;
	font-size: 14pt;
	font-style: normal;
	font-weight: bold;
	line-height: 17pt;
	text-decoration: none;
	text-align: left;
	margin-left: 1in;
	margin-top: 17pt;
	margin-bottom: 0em;
	mc-heading-level: 3;
}

h4
{
	mc-hyphenate: never;
	color: #e86700;
	font-family: Arial;
	font-size: 12pt;
	font-style: italic;
	font-weight: bold;
	line-height: 14pt;
	text-transform: none;
}

span.Link_Topic
{
	letter-spacing: 0em;
	color: #0000ff;
	text-decoration: none;
}

b.Bold
{
	font-family: Georgia;
	font-weight: bold;
	letter-spacing: 0em;
	text-decoration: none;
}

span.Body_Font
{
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	line-height: 13pt;
	text-decoration: none;
}

span.Link_Popup
{
	letter-spacing: 0em;
	color: #007f00;
	text-decoration: none;
}

code.Screen_Text
{
	font-family: 'Courier New';
	font-weight: normal;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #000000;
	line-height: 11pt;
	text-decoration: none;
}

sup.Superscript
{
	font-size: 80%;
	vertical-align: super;
}

p.Footnote
{
	text-align: left;
	margin-left: 1in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #000000;
	text-indent: -24px;
	line-height: 11pt;
	text-decoration: none;
	margin-right: 0in;
}

p.Cover_Title_Intellego
{
	text-align: left;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 24pt;
	letter-spacing: 0em;
	color: #ffffff;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 29pt;
	text-decoration: none;
	margin: 0.67em;
	margin-bottom: 0em;
	margin-left: 0em;
	margin-right: 0em;
	margin-top: 0em;
	padding-top: 0px;
	mc-heading-level: 0;
	mc-disable-glossary-terms: true;
}

p.Release_Intellego
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 12pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 16pt;
	letter-spacing: 0em;
	color: #ffffff;
	mc-hyphenate: never;
	line-height: 19pt;
	text-decoration: none;
	text-indent: 0px;
}

p.Part_Revision_Intellego
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 12pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #ffffff;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
}

h1.Head_1_Top
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 29pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 24pt;
	letter-spacing: 0em;
	color: #004064;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 29pt;
	text-decoration: none;
	page-break-before: always;
	mc-heading-level: 2;
}

p.List_Bullet_1
{
	text-align: left;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: '• ';
	mc-auto-number-position: outside-head;
	mc-auto-number-class: SS8_Blue_Bold;
	line-height: 13pt;
	text-decoration: none;
	list-style-type: disc;
	margin-left: 1.35in;
	mc-auto-number-offset: 0.35in;
}

p.Body_Text_1_NoSpace
{
	text-align: left;
	margin-left: 1in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
	padding-left: 0in;
}

p.Body_Text_2_NoSpace
{
	text-align: left;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
	padding-left: 0in;
	margin-left: 1.35in;
}

p.Body_Text_3_NoSpace
{
	text-align: left;
	margin-left: 1.6in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
	padding-left: 0in;
}

p.Body_Text_4
{
	text-align: left;
	margin-left: 1.85in;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
	padding-left: 0in;
}

p.Body_Text_4_NoSpace
{
	text-align: left;
	margin-left: 1.85in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
	padding-left: 0in;
}

p.Copyright_Text_Top
{
	text-align: center;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 12pt;
	text-decoration: none;
	margin: 0.67em;
	margin-bottom: 0em;
	margin-left: 0em;
	margin-right: 0em;
	margin-top: 0em;
	mc-heading-level: 0;
	mc-disable-glossary-terms: true;
	mc-leader-indent: 0pt;
}

p.Figure_Top
{
	text-align: left;
	margin-right: 0in;
	margin-top: 13pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #004064;
	mc-hyphenate: never;
	line-height: 13pt;
	text-decoration: none;
	page-break-before: always;
	page-break-after: avoid;
	mc-auto-number-class: SS8_Orange_Bold;
	text-indent: 0px;
	mc-leader-indent: 0pt;
	mc-auto-number-offset: 0px;
	mc-auto-number-position: inside-head;
	margin-left: 1in;
	mc-auto-number-format: 'CF:Figure {chapnum}–{n+}     ';
	mc-disable-glossary-terms: true;
}

p.Page_Number_Even
{
	text-align: right;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #004064;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
}

p.Page_Number_Odd
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #004064;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
}

h2.Head_2_Top
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 20pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 18pt;
	letter-spacing: 0em;
	color: #ea5b00;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 22pt;
	text-decoration: none;
	page-break-before: always;
	mc-heading-level: 3;
}

h3.Head_3_Top
{
	text-align: left;
	margin-left: 1in;
	margin-right: 0in;
	margin-top: 17pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 14pt;
	letter-spacing: 0em;
	color: #004064;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 17pt;
	text-decoration: none;
	mc-heading-level: 4;
	page-break-before: always;
}

h3.Head_3_Top_no_TOC
{
	text-align: left;
	margin-left: 1in;
	margin-right: 0in;
	margin-top: 17pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 14pt;
	letter-spacing: 0em;
	color: #004064;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 17pt;
	text-decoration: none;
	mc-heading-level: 4;
	page-break-before: always;
}

h4.Head_4_Top
{
	text-align: left;
	margin-left: 1in;
	margin-right: 0in;
	margin-top: 14pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: italic;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #ea5b00;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 14pt;
	text-decoration: none;
	mc-heading-level: 5;
	page-break-before: always;
}

h5.Head_5_Top
{
	text-align: left;
	margin-left: 1in;
	margin-right: 0in;
	margin-top: 15pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #004064;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
	mc-heading-level: 6;
	page-break-before: always;
}

h5.Head_5
{
	text-align: left;
	margin-left: 1in;
	margin-right: 0in;
	margin-top: 15pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #004064;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
	mc-heading-level: 6;
}

p.List_Bullet_2
{
	text-align: left;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: '• ';
	mc-auto-number-position: outside-head;
	mc-auto-number-class: SS8_Orange_Bold;
	line-height: 13pt;
	text-decoration: none;
	margin-left: 1.6in;
	list-style-type: disc;
	mc-auto-number-offset: 0.25in;
}

p.List_Bullet_3
{
	text-align: left;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-position: outside-head;
	mc-auto-number-class: SS8_Blue_Bold;
	line-height: 13pt;
	text-decoration: none;
	margin-left: 1.85in;
	list-style-type: disc;
	mc-auto-number-format: '• ';
	mc-auto-number-offset: 0.25in;
}

p.List_Bullet_4
{
	text-align: left;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-position: outside-head;
	mc-auto-number-class: SS8_Orange_Bold;
	line-height: 13pt;
	text-decoration: none;
	margin-left: 2.1in;
	list-style-type: disc;
	mc-auto-number-format: '• ';
	mc-auto-number-offset: 0.25in;
}

p.List_Number_1_1st
{
	text-align: left;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: 'A:{n=1}. ';
	mc-auto-number-position: outside-head;
	mc-auto-number-class: SS8_Blue_Bold;
	line-height: 13pt;
	text-decoration: none;
	margin-left: 1.35in;
	mc-auto-number-offset: 0.35in;
}

p.List_Number_1_nth
{
	text-align: left;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: 'A:{n+}. ';
	mc-auto-number-position: outside-head;
	mc-auto-number-class: SS8_Blue_Bold;
	line-height: 13pt;
	text-decoration: none;
	margin-left: 1.35in;
	mc-auto-number-offset: 0.35in;
}

p.List_Number_2_1st
{
	text-align: left;
	margin-left: 1.6in;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: 'B:{A=1}. ';
	mc-auto-number-position: outside-head;
	mc-auto-number-class: SS8_Orange_Bold;
	line-height: 13pt;
	text-decoration: none;
	mc-auto-number-offset: 0.25in;
}

p.List_Number_2_nth
{
	text-align: left;
	margin-left: 1.6in;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: 'B:{A+}. ';
	mc-auto-number-position: outside-head;
	mc-auto-number-class: SS8_Orange_Bold;
	line-height: 13pt;
	text-decoration: none;
	mc-auto-number-offset: 0.25in;
}

p.List_Number_3_1st
{
	text-align: left;
	margin-left: 1.85in;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: 'C:{n=1}) ';
	mc-auto-number-position: outside-head;
	mc-auto-number-class: SS8_Blue_Bold;
	line-height: 13pt;
	text-decoration: none;
	mc-auto-number-offset: 0.25in;
}

p.List_Number_3_nth
{
	text-align: left;
	margin-left: 1.85in;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: 'C:{n+}) ';
	mc-auto-number-position: outside-head;
	mc-auto-number-class: SS8_Blue_Bold;
	line-height: 13pt;
	text-decoration: none;
	mc-auto-number-offset: 0.25in;
}

p.Popup_Jump
{
	text-align: left;
	margin-left: 1in;
	margin-right: 0in;
	margin-top: 13pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
}

p.Screen_Text_1
{
	text-align: left;
	margin-left: 1in;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: 'Courier New';
	font-weight: normal;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 11pt;
	text-decoration: none;
	mc-disable-glossary-terms: true;
}

p.Screen_Text_2
{
	text-align: left;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: 'Courier New';
	font-weight: normal;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 11pt;
	text-decoration: none;
	margin-left: 1.35in;
	mc-disable-glossary-terms: true;
}

p.Screen_Text_3
{
	text-align: left;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: 'Courier New';
	font-weight: normal;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 11pt;
	text-decoration: none;
	margin-left: 1.6in;
	mc-disable-glossary-terms: true;
}

p.Screen_Text_4
{
	text-align: left;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: 'Courier New';
	font-weight: normal;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 11pt;
	text-decoration: none;
	margin-left: 1.85in;
	mc-disable-glossary-terms: true;
}

p.Appendix_NumberTOC
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 19pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 16pt;
	letter-spacing: 0em;
	color: #004064;
	text-indent: 0px;
	line-height: 19pt;
	text-decoration: none;
}

p.TableFootnote
{
	text-align: left;
	margin-left: 0.33333in;
	margin-right: 0in;
	margin-top: 2pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #004064;
	mc-hyphenate: never;
	text-indent: -31px;
	line-height: 9pt;
	text-decoration: none;
}

p.Table_Body_Left_Small_2
{
	text-align: left;
	margin-left: 0.25in;
	margin-right: 0in;
	margin-top: 4pt;
	margin-bottom: 4pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 11pt;
	text-decoration: none;
}

p.Table_List_Number_1_1st_Small
{
	text-align: left;
	margin-left: 0.2in;
	margin-right: 0in;
	margin-top: 4pt;
	margin-bottom: 4pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: 'A:{n=1}. ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 19.2px;
	mc-auto-number-class: SS8_Blue_Bold;
	line-height: 13pt;
	text-decoration: none;
}

p.Table_List_Bullet_1_Small
{
	text-align: left;
	margin-left: 0.2in;
	margin-right: 0in;
	margin-bottom: 4pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: '• ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 19.2px;
	mc-auto-number-class: SS8_Blue_Bold;
	line-height: 13pt;
	text-decoration: none;
	margin-top: 4pt;
	list-style-type: disc;
}

p.Table_List_Number_1_nth_Small
{
	text-align: left;
	margin-left: 0.2in;
	margin-right: 0in;
	margin-top: 4pt;
	margin-bottom: 4pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: 'A:{n+}. ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 19.2px;
	mc-auto-number-class: SS8_Blue_Bold;
	line-height: 13pt;
	text-decoration: none;
}

MadCap|xref.Page_Number_Only
{
	mc-format: '{page}';
	text-decoration: none;
}

MadCap|xref.Page_Number
{
	text-decoration: none;
	mc-format: 'Page {page}';
}

MadCap|xref.Paragraph_Number_Page
{
	text-decoration: none;
	mc-format: '{paranum} {pageref}';
}

MadCap|xref.Paragraph_Number_Only_Page
{
	text-decoration: none;
	mc-format: '{paranumonly} {pageref}';
}

MadCap|xref.Paragraph_Text_Parentheses_Page
{
	mc-format: '{quote}{paratext}{quote} ({pageref})';
	text-decoration: none;
}

MadCap|xref.Paragraph_Text_Page
{
	text-decoration: none;
	mc-format: '{quote}{paratext}{quote} {pageref}';
}

MadCap|xref.Popup_Figure
{
	mc-format: '{paranum}';
	text-decoration: none;
	color: #0000ff;
}

MadCap|xref.Popup_Figure_Page
{
	mc-format: '{paranum} {pageref}';
	text-decoration: none;
	color: #0000ff;
}

table
{
	width: 100%;
}

table.Default
{
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-collapse: collapse;
	border-color: black;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #004064;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #004064;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #004064;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #004064;
}

span.Screen_Input
{
	font-family: 'Courier New';
	font-weight: bold;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #000000;
	line-height: 11pt;
	text-decoration: none;
	mc-disable-glossary-terms: true;
}

p.Table_Body_Text_1
{
	text-align: left;
	margin-right: 0in;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
	padding-left: 0in;
	margin-top: 6pt;
}

p.Table_Body_Text_2
{
	text-align: left;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
	padding-left: 0in;
	margin-left: 0.35in;
}

p.Table_List_Bullet_1
{
	text-align: left;
	margin-right: 0in;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: '• ';
	mc-auto-number-position: outside-head;
	mc-auto-number-class: SS8_Blue_Bold;
	line-height: 13pt;
	text-decoration: none;
	margin-top: 6pt;
	list-style-type: disc;
	margin-left: 0.35in;
	mc-auto-number-offset: 0.35in;
}

p.Table_List_Bullet_2
{
	text-align: left;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: '• ';
	mc-auto-number-position: outside-head;
	mc-auto-number-class: SS8_Orange_Bold;
	line-height: 13pt;
	text-decoration: none;
	list-style-type: disc;
	margin-left: 0.60in;
	mc-auto-number-offset: 0.25in;
}

p.Table_List_Bullet_3
{
	text-align: left;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: '• ';
	mc-auto-number-position: outside-head;
	mc-auto-number-class: SS8_Blue_Bold;
	line-height: 13pt;
	text-decoration: none;
	list-style-type: disc;
	margin-left: 0.85in;
	mc-auto-number-offset: 0.25in;
}

p.Table_List_Number_1_1st
{
	text-align: left;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: 'A:{n=1}. ';
	mc-auto-number-position: outside-head;
	mc-auto-number-class: SS8_Blue_Bold;
	line-height: 13pt;
	text-decoration: none;
	margin-left: 0.35in;
	mc-auto-number-offset: 0.35in;
}

p.Table_List_Number_1_nth
{
	text-align: left;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: 'A:{n+}. ';
	mc-auto-number-position: outside-head;
	mc-auto-number-class: SS8_Blue_Bold;
	line-height: 13pt;
	text-decoration: none;
	margin-left: 0.35in;
	mc-auto-number-offset: 0.35in;
}

p.Table_List_Number_2_1st
{
	text-align: left;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: 'B:{A=1}. ';
	mc-auto-number-position: outside-head;
	mc-auto-number-class: SS8_Orange_Bold;
	line-height: 13pt;
	text-decoration: none;
	margin-left: 0.60in;
	mc-auto-number-offset: 0.25in;
}

p.Table_List_Number_2_nth
{
	text-align: left;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: 'B:{A+}. ';
	mc-auto-number-position: outside-head;
	mc-auto-number-class: SS8_Orange_Bold;
	line-height: 13pt;
	text-decoration: none;
	margin-left: 0.60in;
	mc-auto-number-offset: 0.25in;
}

p.Table_Body_Text_3
{
	text-align: left;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
	padding-left: 0in;
	margin-left: 0.60in;
}

p.Table_Screen_Text_1
{
	text-align: left;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: 'Courier New';
	font-weight: normal;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 11pt;
	text-decoration: none;
	mc-disable-glossary-terms: true;
}

p.Table_Screen_Text_2
{
	text-align: left;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: 'Courier New';
	font-weight: normal;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 11pt;
	text-decoration: none;
	margin-left: 0.35in;
	mc-disable-glossary-terms: true;
}

p.Table_Screen_Text_3
{
	text-align: left;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: 'Courier New';
	font-weight: normal;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 11pt;
	text-decoration: none;
	margin-left: 0.60in;
	mc-disable-glossary-terms: true;
}

p.Table_Screen_Text_4
{
	text-align: left;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: 'Courier New';
	font-weight: normal;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 11pt;
	text-decoration: none;
	margin-left: 0.85in;
	mc-disable-glossary-terms: true;
}

p.Table_List_Number_3_1st
{
	text-align: left;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: 'C:{n=1}) ';
	mc-auto-number-position: outside-head;
	mc-auto-number-class: SS8_Blue_Bold;
	line-height: 13pt;
	text-decoration: none;
	margin-left: 0.85in;
	mc-auto-number-offset: 0.25in;
}

p.Table_List_Number_3_nth
{
	text-align: left;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: 'C:{n+}) ';
	mc-auto-number-position: outside-head;
	mc-auto-number-class: SS8_Blue_Bold;
	line-height: 13pt;
	text-decoration: none;
	margin-left: 0.85in;
	mc-auto-number-offset: 0.25in;
}

p.Table_Body_Text_4
{
	text-align: left;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
	padding-left: 0in;
	margin-left: 0.85in;
}

p.Table_List_Bullet_4
{
	text-align: left;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-position: outside-head;
	mc-auto-number-class: SS8_Orange_Bold;
	line-height: 13pt;
	text-decoration: none;
	list-style-type: disc;
	mc-auto-number-format: '• ';
	margin-left: 1.10in;
	mc-auto-number-offset: 0.25in;
}

caption
{
	mc-caption-repeat: true;
	mc-caption-continuation: '(continued)';
	caption-side: top;
}

p.TOC_Title
{
	text-align: right;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 36pt;
	letter-spacing: 0em;
	text-indent: 0px;
	line-height: 43pt;
	text-decoration: none;
	background-repeat: no-repeat;
	color: #ffffff;
	margin: 0.67em;
	margin-bottom: 0em;
	margin-left: 0em;
	margin-right: 0em;
	margin-top: 0em;
	padding-bottom: 20px;
	background-image: url('../Images/Background_Chapter_Intellego.jpg');
	mc-heading-level: 1;
	page-break-after: avoid;
	page-break-before: always;
	mc-disable-glossary-terms: true;
	mc-hyphenate: never;
	mc-leader-indent: 0pt;
}

caption.Table_Title
{
	text-align: left;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	mc-hyphenate: never;
	line-height: 13pt;
	text-decoration: none;
	mc-auto-number-offset: 100px;
	mc-auto-number-position: inside-head;
	mc-auto-number-class: SS8_Orange_Bold;
	color: #3d5866;
	mc-auto-number-format: 'T:Table {chapnum}–{n+} ';
	mc-caption-continuation: '(continued)';
	caption-side: top;
}

p.Table_Title
{
	text-align: left;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	mc-hyphenate: never;
	line-height: 13pt;
	text-decoration: none;
	mc-auto-number-offset: 100px;
	mc-auto-number-position: inside-head;
	mc-auto-number-class: SS8_Orange_Bold;
	color: #3d5866;
	mc-caption-repeat: true;
	mc-caption-continuation: '(continued)';
	caption-side: top;
	mc-auto-number-format: 'CT:Table {chapnum}–{n+} ';
	mc-disable-glossary-terms: true;
}

div.GlossaryPageDefinition
{
	font-family: Georgia;
	font-size: 11pt;
	margin-left: 1in;
}

div.GlossaryPageTerm
{
	font-family: Arial;
	margin-left: 0.5in;
	font-size: 12pt;
	color: #3d5866;
}

div.GlossaryPageHeading
{
	border-bottom-width: 0px;
	border-bottom-style: none;
	font-family: Arial;
	font-size: 14pt;
	color: #e86700;
}

td.Table_Body_Center_Small
{
	text-align: center;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 4pt;
	margin-bottom: 4pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
}

th.Table_Head_Center
{
	text-align: center;
	margin-left: 0in;
	margin-right: 0in;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #004064;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 14pt;
	text-decoration: none;
	margin-top: 6pt;
	mc-disable-glossary-terms: true;
}

td.Table_Body_Left_Small_1
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 4pt;
	margin-bottom: 4pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 11pt;
	text-decoration: none;
}

td.Table_Body_Left_Small_2
{
	text-align: left;
	margin-left: 0.25in;
	margin-right: 0in;
	margin-top: 4pt;
	margin-bottom: 4pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 11pt;
	text-decoration: none;
}

td.Table_Body_Text_1
{
	text-align: left;
	margin-right: 0in;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
	padding-left: 0in;
	margin-top: 6pt;
}

td.Table_Body_Text_2
{
	text-align: left;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
	padding-left: 0in;
	margin-left: 0.35in;
}

td.Table_Body_Text_3
{
	text-align: left;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
	padding-left: 0in;
	margin-left: 0.60in;
}

td.Table_Body_Text_4
{
	text-align: left;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
	padding-left: 0in;
	margin-left: 0.85in;
}

td.Table_List_Bullet_1
{
	text-align: left;
	margin-right: 0in;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: '• ';
	mc-auto-number-position: outside-head;
	mc-auto-number-class: SS8_Blue_Bold;
	line-height: 13pt;
	text-decoration: none;
	margin-top: 6pt;
	list-style-type: disc;
	margin-left: 0.35in;
	mc-auto-number-offset: 0.35in;
}

td.Table_List_Bullet_1_Small
{
	text-align: left;
	margin-left: 0.2in;
	margin-right: 0in;
	margin-bottom: 4pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: '• ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 19.2px;
	mc-auto-number-class: SS8_Blue_Bold;
	line-height: 13pt;
	text-decoration: none;
	margin-top: 4pt;
	list-style-type: disc;
}

td.Table_List_Bullet_2
{
	text-align: left;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: '• ';
	mc-auto-number-position: outside-head;
	mc-auto-number-class: SS8_Orange_Bold;
	line-height: 13pt;
	text-decoration: none;
	list-style-type: disc;
	margin-left: 0.60in;
	mc-auto-number-offset: 0.25in;
}

td.Table_List_Bullet_3
{
	text-align: left;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: '• ';
	mc-auto-number-position: outside-head;
	mc-auto-number-class: SS8_Blue_Bold;
	line-height: 13pt;
	text-decoration: none;
	list-style-type: disc;
	margin-left: 0.85in;
	mc-auto-number-offset: 0.25in;
}

td.Table_List_Bullet_4
{
	text-align: left;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-position: outside-head;
	mc-auto-number-class: SS8_Orange_Bold;
	line-height: 13pt;
	text-decoration: none;
	list-style-type: disc;
	mc-auto-number-format: '• ';
	margin-left: 1.10in;
	mc-auto-number-offset: 0.25in;
}

td.Table_List_Number_1_1st
{
	text-align: left;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: 'A:{n=1}. ';
	mc-auto-number-position: outside-head;
	mc-auto-number-class: SS8_Blue_Bold;
	line-height: 13pt;
	text-decoration: none;
	margin-left: 0.35in;
	mc-auto-number-offset: 0.35in;
}

td.Table_List_Number_1_1st_Small
{
	text-align: left;
	margin-left: 0.2in;
	margin-right: 0in;
	margin-top: 4pt;
	margin-bottom: 4pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: 'A:{n=1}. ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 19.2px;
	mc-auto-number-class: SS8_Blue_Bold;
	line-height: 13pt;
	text-decoration: none;
}

td.Table_List_Number_1_nth
{
	text-align: left;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: 'A:{n+}. ';
	mc-auto-number-position: outside-head;
	mc-auto-number-class: SS8_Blue_Bold;
	line-height: 13pt;
	text-decoration: none;
	margin-left: 0.35in;
	mc-auto-number-offset: 0.35in;
}

td.Table_List_Number_1_nth_Small
{
	text-align: left;
	margin-left: 0.2in;
	margin-right: 0in;
	margin-top: 4pt;
	margin-bottom: 4pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: 'A:{n+}. ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 19.2px;
	mc-auto-number-class: SS8_Blue_Bold;
	line-height: 13pt;
	text-decoration: none;
}

td.Table_List_Number_2_1st
{
	text-align: left;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: 'B:{A=1}. ';
	mc-auto-number-position: outside-head;
	mc-auto-number-class: SS8_Orange_Bold;
	line-height: 13pt;
	text-decoration: none;
	margin-left: 0.60in;
	mc-auto-number-offset: 0.25in;
}

td.Table_List_Number_2_nth
{
	text-align: left;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: 'B:{A+}. ';
	mc-auto-number-position: outside-head;
	mc-auto-number-class: SS8_Orange_Bold;
	line-height: 13pt;
	text-decoration: none;
	margin-left: 0.60in;
	mc-auto-number-offset: 0.25in;
}

td.Table_List_Number_3_1st
{
	text-align: left;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: 'C:{n=1}) ';
	mc-auto-number-position: outside-head;
	mc-auto-number-class: SS8_Blue_Bold;
	line-height: 13pt;
	text-decoration: none;
	margin-left: 0.85in;
	mc-auto-number-offset: 0.25in;
}

td.Table_List_Number_3_nth
{
	text-align: left;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: 'C:{n+}) ';
	mc-auto-number-position: outside-head;
	mc-auto-number-class: SS8_Blue_Bold;
	line-height: 13pt;
	text-decoration: none;
	margin-left: 0.85in;
	mc-auto-number-offset: 0.25in;
}

td.Table_Screen_Text_1
{
	text-align: left;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: 'Courier New';
	font-weight: normal;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 11pt;
	text-decoration: none;
	mc-disable-glossary-terms: true;
}

td.Table_Screen_Text_2
{
	text-align: left;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: 'Courier New';
	font-weight: normal;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 11pt;
	text-decoration: none;
	margin-left: 0.35in;
	mc-disable-glossary-terms: true;
}

td.Table_Screen_Text_3
{
	text-align: left;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: 'Courier New';
	font-weight: normal;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 11pt;
	text-decoration: none;
	margin-left: 0.60in;
	mc-disable-glossary-terms: true;
}

td.Table_Screen_Text_4
{
	text-align: left;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: 'Courier New';
	font-weight: normal;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 11pt;
	text-decoration: none;
	margin-left: 0.85in;
	mc-disable-glossary-terms: true;
}

th.Table_Head_Center_Small
{
	text-align: center;
	margin-left: 0in;
	margin-right: 0in;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #004064;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 12pt;
	text-decoration: none;
	margin-top: 4pt;
	mc-disable-glossary-terms: true;
}

th.Table_Head_Left
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #004064;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 14pt;
	text-decoration: none;
	margin-top: 6pt;
	mc-disable-glossary-terms: true;
}

th.Table_Head_Left_Small
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #004064;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 12pt;
	text-decoration: none;
	margin-top: 6pt;
	mc-disable-glossary-terms: true;
}

p.Table_Body_Center
{
	text-align: center;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 4pt;
	margin-bottom: 4pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
	font-size: 11pt;
}

p.Cover_Title
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 24pt;
	letter-spacing: 0em;
	color: #004064;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 29pt;
	text-decoration: none;
}

p.Release_Xcipio
{
	text-align: center;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 10pt;
	margin-bottom: 0pt;
	font-family: 'Flama Light';
	font-weight: normal;
	font-style: normal;
	font-size: 14pt;
	letter-spacing: 0em;
	color: #666666;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 17pt;
	text-decoration: none;
}

p.Part_Revision_Xcipio
{
	text-align: center;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 11pt;
	margin-bottom: 0pt;
	font-family: 'Flama Light';
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #666666;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
}

p.Head_4_TopTOC
{
	text-align: left;
	margin-left: 0.85in;
	margin-right: 0in;
	margin-top: 2pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: -9px;
	line-height: 13pt;
	text-decoration: none;
}

p.Head_4TOC
{
	text-align: left;
	margin-left: 0.85in;
	margin-right: 0in;
	margin-top: 2pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: -9px;
	line-height: 13pt;
	text-decoration: none;
}

p.Head_3_TopTOC
{
	text-align: left;
	margin-left: 0.6in;
	margin-right: 0in;
	margin-top: 3pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: -9px;
	line-height: 15pt;
	text-decoration: none;
}

p.Head_3TOC
{
	text-align: left;
	margin-left: 0.6in;
	margin-right: 0in;
	margin-top: 3pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: -9px;
	line-height: 15pt;
	text-decoration: none;
}

p.Head_2_TopTOC
{
	text-align: left;
	margin-left: 0.35in;
	margin-right: 0in;
	margin-top: 3pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 13pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: -9px;
	line-height: 16pt;
	text-decoration: none;
}

p.Head_2TOC
{
	text-align: left;
	margin-left: 0.35in;
	margin-right: 0in;
	margin-top: 3pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 13pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: -9px;
	line-height: 16pt;
	text-decoration: none;
}

p.Head_1_TopTOC
{
	text-align: left;
	margin-left: 0.1in;
	margin-right: 0in;
	margin-top: 3pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 14pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: -9px;
	line-height: 17pt;
	text-decoration: none;
}

p.Head_1TOC
{
	text-align: left;
	margin-left: 0.25in;
	margin-right: 0in;
	margin-top: 3pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 14pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: -24px;
	line-height: 17pt;
	text-decoration: none;
}

p.Chapter_NumberTOC
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 19pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 16pt;
	letter-spacing: 0em;
	color: #004064;
	text-indent: 0px;
	line-height: 19pt;
	text-decoration: none;
}

p.Chapter_TitleTOC
{
	text-align: left;
	margin-left: 1.25in;
	margin-right: 0in;
	margin-top: 19pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	letter-spacing: 0em;
	color: #004064;
	mc-hyphenate: never;
	line-height: 19pt;
	text-decoration: none;
	font-size: 18pt;
	text-indent: 0;
}

p.Table_TitleLOT
{
	text-align: left;
	margin-left: 0.25in;
	margin-right: 0in;
	margin-top: 3pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #000000;
	text-indent: -24px;
	line-height: 15pt;
	text-decoration: none;
}

p.Table_Body_Left_1
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 3pt;
	margin-bottom: 3pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
}

p.Body_Text_Center_Small
{
	text-align: center;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 11pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 11pt;
	text-decoration: none;
}

p.Body
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: 'Times New Roman';
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #000000;
	text-indent: 0px;
	line-height: 14pt;
	text-decoration: none;
}

small.Interface_Entry
{
	font-family: 'Arial Narrow';
	font-weight: bold;
	font-style: normal;
	letter-spacing: 0em;
	text-decoration: none;
}

p.Table_Body_Left_3
{
	text-align: left;
	margin-left: 0.5in;
	margin-right: 0in;
	margin-top: 4pt;
	margin-bottom: 4pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
}

p.Table_Body_Left_2
{
	text-align: left;
	margin-left: 0.25in;
	margin-right: 0in;
	margin-top: 4pt;
	margin-bottom: 4pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
}

big.Interface_Label
{
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	letter-spacing: 0em;
	text-decoration: none;
}

MadCap|xref.Chapter_Number_Section
{
	mc-format: '{Link_Topic}Chapter {chapnum}: {paratext}';
}

i.Emphasis
{
	font-style: italic;
}

p.GroupTitlesIX
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 19pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 16pt;
	letter-spacing: 0em;
	color: #004064;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 19pt;
	text-decoration: none;
}

p.Level1IX
{
	text-align: left;
	margin-left: 0.1in;
	margin-right: 0in;
	margin-top: 2pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: -9px;
	line-height: 12pt;
	text-decoration: none;
}

p.Level2IX
{
	text-align: left;
	margin-left: 0.35in;
	margin-right: 0in;
	margin-top: 1pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: -9px;
	line-height: 12pt;
	text-decoration: none;
}

p.Level3IX
{
	text-align: left;
	margin-left: 0.6in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: -9px;
	line-height: 12pt;
	text-decoration: none;
}

strong.SS8_Orange_Bold
{
	font-family: Georgia;
	font-weight: bold;
	font-style: normal;
	letter-spacing: 0em;
	color: #ea5b00;
	text-decoration: none;
}

cite.Document
{
	font-family: Georgia;
	font-weight: normal;
	font-style: italic;
	letter-spacing: 0em;
	color: #000000;
	text-decoration: none;
}

h3.Head_3_no_TOC
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 17pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 14pt;
	letter-spacing: 0em;
	color: #004064;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 17pt;
	text-decoration: none;
}

p.Anchor
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 2pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 0pt;
	text-decoration: none;
}

h4.Head_4_no_TOC
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 14pt;
	margin-bottom: 0pt;
	font-family: 'Flama Medium Italic';
	font-weight: bold;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #ea5b00;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 14pt;
	text-decoration: none;
}

p.ActiveIX
{
	text-align: justify;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #000000;
	text-indent: 0px;
	line-height: 14pt;
	text-decoration: none;
}

p.Chapter_Title
{
	font-weight: bold;
	font-style: normal;
	font-family: Arial;
	widows: 2;
	orphans: 2;
	line-height: 19pt;
	color: #696969;
	text-transform: uppercase;
	font-size: 18pt;
	letter-spacing: 0em;
	margin-left: 1.25in;
	mc-hyphenate: never;
	text-align: right;
	margin-top: 19pt;
	margin-bottom: 19pt;
}

p.Table_Body_Left_Small_3
{
	text-align: left;
	margin-left: 0.5in;
	margin-right: 0in;
	margin-top: 4pt;
	margin-bottom: 4pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
	font-size: 9pt;
}

p.Table_Body_Text_Small_4
{
	text-align: left;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
	padding-left: 0in;
	margin-left: 0.85in;
	font-size: 9pt;
}

