/*<meta />*/

p.Body_Text_1
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 13pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
}

p.Cover_Title
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 24pt;
	letter-spacing: 0em;
	color: #004064;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 29pt;
	text-decoration: none;
}

p.Release_Xcipio
{
	text-align: center;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 10pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: normal;
	font-style: normal;
	font-size: 14pt;
	letter-spacing: 0em;
	color: #666666;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 17pt;
	text-decoration: none;
}

p.Part_Revision_Xcipio
{
	text-align: center;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 11pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #666666;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
}

p.Copyright_Text_Top
{
	text-align: center;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 12pt;
	text-decoration: none;
}

p.Copyright_Text
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 12pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 12pt;
	text-decoration: none;
}

h5.Copyright_Head
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 12pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #004064;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 12pt;
	text-decoration: none;
}

p.Head_4_TopTOC
{
	text-align: left;
	margin-left: 0.85in;
	margin-right: 0in;
	margin-top: 2pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: -9px;
	line-height: 13pt;
	text-decoration: none;
}

p.Head_4TOC
{
	text-align: left;
	margin-left: 0.85in;
	margin-right: 0in;
	margin-top: 2pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: -9px;
	line-height: 13pt;
	text-decoration: none;
}

p.Head_3_TopTOC
{
	text-align: left;
	margin-left: 0.6in;
	margin-right: 0in;
	margin-top: 3pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: -9px;
	line-height: 15pt;
	text-decoration: none;
}

p.Head_3TOC
{
	text-align: left;
	margin-left: 0.6in;
	margin-right: 0in;
	margin-top: 3pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: -9px;
	line-height: 15pt;
	text-decoration: none;
}

p.Head_2_TopTOC
{
	text-align: left;
	margin-left: 0.35in;
	margin-right: 0in;
	margin-top: 3pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 13pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: -9px;
	line-height: 16pt;
	text-decoration: none;
}

p.Head_2TOC
{
	text-align: left;
	margin-left: 0.35in;
	margin-right: 0in;
	margin-top: 3pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 13pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: -9px;
	line-height: 16pt;
	text-decoration: none;
}

p.Head_1_TopTOC
{
	text-align: left;
	margin-left: 0.1in;
	margin-right: 0in;
	margin-top: 3pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 14pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: -9px;
	line-height: 17pt;
	text-decoration: none;
}

p.Head_1TOC
{
	text-align: left;
	margin-left: 0.25in;
	margin-right: 0in;
	margin-top: 3pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 14pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: -24px;
	line-height: 17pt;
	text-decoration: none;
}

p.Appendix_NumberTOC
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 19pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 16pt;
	letter-spacing: 0em;
	color: #004064;
	text-indent: 0px;
	line-height: 19pt;
	text-decoration: none;
}

p.Chapter_NumberTOC
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 19pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 16pt;
	letter-spacing: 0em;
	color: #004064;
	text-indent: 0px;
	line-height: 19pt;
	text-decoration: none;
}

p.Chapter_TitleTOC
{
	text-align: left;
	margin-left: 1.25in;
	margin-right: 0in;
	margin-top: 19pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 16pt;
	letter-spacing: 0em;
	color: #004064;
	mc-hyphenate: never;
	text-indent: -120px;
	line-height: 19pt;
	text-decoration: none;
}

p.Table_TitleLOT
{
	text-align: left;
	margin-left: 0.25in;
	margin-right: 0in;
	margin-top: 3pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #000000;
	text-indent: -24px;
	line-height: 15pt;
	text-decoration: none;
}

MadCap|xref.ContinueTo
{
	mc-format: '(continued in {title})';
}

MadCap|xref.ContinueFrom
{
	mc-format: '(continued from {title})';
}

p.TOC_Title
{
	text-align: right;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 36pt;
	letter-spacing: 0em;
	color: #004064;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 43pt;
	text-decoration: none;
}

h1.Chapter_Title
{
	text-align: right;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 36pt;
	letter-spacing: 0em;
	color: #004064;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 43pt;
	text-decoration: none;
}

p.List_Bullet_1
{
	text-align: left;
	margin-left: 0.25in;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: '• ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 24px;
	mc-auto-number-class: SS8_Blue_Bold;
	line-height: 13pt;
	text-decoration: none;
}

p.Table_Head_Left_Small
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #004064;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 12pt;
	text-decoration: none;
}

p.Table_Body_Left_Small_1
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 4pt;
	margin-bottom: 4pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 11pt;
	text-decoration: none;
}

p.Table_Body_Left_Small_2
{
	text-align: left;
	margin-left: 0.25in;
	margin-right: 0in;
	margin-top: 4pt;
	margin-bottom: 4pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 11pt;
	text-decoration: none;
}

h1.Head_1
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 29pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 24pt;
	letter-spacing: 0em;
	color: #004064;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 29pt;
	text-decoration: none;
}

h2.Head_2
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 20pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 18pt;
	letter-spacing: 0em;
	color: #ea5b00;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 22pt;
	text-decoration: none;
}

h3.Head_3
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 17pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 14pt;
	letter-spacing: 0em;
	color: #004064;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 17pt;
	text-decoration: none;
}

p.List_Number_1_1st
{
	text-align: left;
	margin-left: 0.25in;
	margin-right: .25in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: 'A:{n=1}. ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 24px;
	mc-auto-number-class: SS8_Blue_Bold;
	line-height: 13pt;
	text-decoration: none;
}

p.Screen_Text_2
{
	text-align: left;
	margin-left: 0.25in;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: 'Courier New';
	font-weight: normal;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 11pt;
	text-decoration: none;
}

p.List_Number_1_nth
{
	text-align: left;
	margin-left: 0.25in;
	margin-right: .25in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: 'A:{n+}. ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 24px;
	mc-auto-number-class: SS8_Blue_Bold;
	line-height: 13pt;
	text-decoration: none;
}

p.Screen_Text_1
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: 'Courier New';
	font-weight: normal;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 11pt;
	text-decoration: none;
}

p.Table_Body_Left_2
{
	text-align: left;
	margin-left: 0.25in;
	margin-right: 0in;
	margin-top: 4pt;
	margin-bottom: 4pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
}

p.List_Number_2_1st
{
	text-align: left;
	margin-left: 0.5in;
	margin-right: 0.25in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: 'B:{A=1}. ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 24px;
	mc-auto-number-class: SS8_Orange_Bold;
	line-height: 13pt;
	text-decoration: none;
}

p.List_Number_2_nth
{
	text-align: left;
	margin-left: 0.5in;
	margin-right: 0.25in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: 'B:{A+}. ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 24px;
	mc-auto-number-class: SS8_Orange_Bold;
	line-height: 13pt;
	text-decoration: none;
}

p.Body_Text_2
{
	text-align: left;
	margin-left: 0.25in;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
}

b.Bold
{
	font-family: Georgia;
	font-weight: bold;
	font-style: normal;
	letter-spacing: 0em;
	color: #000000;
	text-decoration: none;
}

b.Interface_Label
{
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	letter-spacing: 0em;
	text-decoration: none;
}

span.Document
{
	font-family: Georgia;
	font-weight: normal;
	font-style: italic;
	letter-spacing: 0em;
	color: #000000;
	text-decoration: none;
}

b.Interface_Entry
{
	font-family: 'Arial Narrow';
	font-weight: bold;
	font-style: normal;
	letter-spacing: 0em;
	text-decoration: none;
}

span.SS8_Blue
{
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0em;
	color: #004064;
	text-decoration: none;
}

span.SS8_Orange
{
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0em;
	color: #ea5b00;
	text-decoration: none;
}

p.Page_Number_Even
{
	text-align: right;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #004064;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
}

p.Page_Number_Odd
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #004064;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
}

p.List_Bullet_2
{
	text-align: left;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: '• ';
	mc-auto-number-position: outside-head;
	mc-auto-number-class: SS8_Orange_Bold;
	line-height: 13pt;
	text-decoration: none;
	list-style-type: disc;
	mc-auto-number-offset: 0.25in;
	margin-left: .50in;
}

p.List_Bullet_3
{
	text-align: left;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-position: outside-head;
	mc-auto-number-class: SS8_Blue_Bold;
	line-height: 13pt;
	text-decoration: none;
	list-style-type: disc;
	mc-auto-number-format: '• ';
	mc-auto-number-offset: 0.25in;
	margin-left: .75in;
}

p.List_Bullet_4
{
	text-align: left;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-position: outside-head;
	mc-auto-number-class: SS8_Orange_Bold;
	line-height: 13pt;
	text-decoration: none;
	list-style-type: disc;
	mc-auto-number-format: '• ';
	mc-auto-number-offset: 0.25in;
	margin-left: 1.0in;
}

p.List_Number_3_1st
{
	text-align: left;
	margin-left: 0.85in;
	margin-right: 0.25in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: 'C:{n=1}) ';
	mc-auto-number-position: outside-head;
	mc-auto-number-class: SS8_Blue_Bold;
	line-height: 13pt;
	text-decoration: none;
	mc-auto-number-offset: 0.25in;
}

p.List_Number_3_nth
{
	text-align: left;
	margin-left: 0.85in;
	margin-right: 0.25in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: 'C:{n+}) ';
	mc-auto-number-position: outside-head;
	mc-auto-number-class: SS8_Blue_Bold;
	line-height: 13pt;
	text-decoration: none;
	mc-auto-number-offset: 0.25in;
}

span.SS8_Blue_Bold
{
	font-family: Georgia;
	font-weight: bold;
	font-style: normal;
	letter-spacing: 0em;
	color: #004064;
	text-decoration: none;
}

span.Link_Topic
{
	letter-spacing: 0em;
	color: #0000ff;
	text-decoration: none;
}

p.Chapter_Title
{
	text-align: right;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 36pt;
	letter-spacing: 0em;
	color: #004064;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 43pt;
	text-decoration: none;
}

p.Body_Text_1_NoSpace
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
}

span.SS8_Orange_Bold
{
	font-family: Georgia;
	font-weight: bold;
	font-style: normal;
	letter-spacing: 0em;
	color: #ea5b00;
	text-decoration: none;
}

MadCap|xref.Paragraph_Text_Parentheses_Page
{
	mc-format: '{Link_Topic}{paratext} (page {page})';
}

p.Table_Head_Center
{
	text-align: center;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #004064;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 14pt;
	text-decoration: none;
}

p.Table_Title
{
	text-align: left;
	margin-left: 1in;
	margin-right: 0in;
	margin-top: 13pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #004064;
	mc-hyphenate: never;
	mc-auto-number-format: 'T:Table {chapnum}–{n+} ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 96px;
	mc-auto-number-class: SS8 Orange Bold;
	line-height: 13pt;
	text-decoration: none;
}

p.Table_Body_Left_1
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 4pt;
	margin-bottom: 4pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
}

span.Superscript
{
	font-size: 80%;
	vertical-align: super;
}

p.Copyright_Head
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 12pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #004064;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 12pt;
	text-decoration: none;
}

p.Head_5TOC
{
	text-align: left;
	margin-left: 1.1in;
	margin-right: 0in;
	margin-top: 1pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: normal;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: -9px;
	line-height: 12pt;
	text-decoration: none;
}

p.Table_Body_Center_Small
{
	text-align: center;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 4pt;
	margin-bottom: 4pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
}

p.Chapter_Number
{
	text-align: right;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 24pt;
	letter-spacing: 0em;
	color: #ea5b00;
	mc-hyphenate: never;
	mc-auto-number-format: 'Chapter {chapnum}';
	mc-auto-number-position: inside-head;
	mc-auto-number-offset: 0px;
	text-indent: 0px;
	line-height: 29pt;
	text-transform: uppercase;
	text-decoration: none;
}

p.Table_Head_Left
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #004064;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 14pt;
	text-decoration: none;
}

MadCap|xref.Paragraph_Text_Page
{
	mc-format: '{Link_Topic}{paratext} on page {page}';
}

span.Screen_Input
{
	font-family: 'Courier New';
	font-weight: bold;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #000000;
	line-height: 11pt;
	text-decoration: none;
}

span.Link_External
{
	letter-spacing: 0em;
	color: #7f007f;
	text-decoration: none;
}

pre.Screen_Text_1
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: 'Courier New';
	font-weight: normal;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 11pt;
	text-decoration: none;
}

code.Screen_Text
{
	font-family: 'Courier New';
	font-weight: normal;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #000000;
	line-height: 11pt;
	text-decoration: none;
}

span.Interface_Entry
{
	font-family: 'Arial Narrow';
	font-weight: bold;
	font-style: normal;
	letter-spacing: 0em;
	text-decoration: none;
}

p.Figure
{
	text-align: left;
	margin-left: 1.15in;
	margin-right: 0in;
	margin-top: 13pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #004064;
	mc-hyphenate: never;
	mc-auto-number-format: 'F:Figure {chapnum}–{n+} ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 110.4px;
	mc-auto-number-class: SS8 Orange Bold;
	line-height: 13pt;
	text-decoration: none;
}

MadCap|xref.Paragraph_Number
{
	mc-format: '{Link_Topic}{paranum}';
}

strong.Interface_Label
{
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	letter-spacing: 0em;
	text-decoration: none;
}

span.Body_Font
{
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	line-height: 13pt;
	text-decoration: none;
}

h4.Head_4
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 14pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: italic;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #ea5b00;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 14pt;
	text-decoration: none;
}

MadCap|xref.Paragraph_Text
{
	mc-format: '{Link_Topic}{paratext}';
}

p.Table_Head_Center_Small
{
	text-align: center;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #004064;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 12pt;
	text-decoration: none;
}

MadCap|xref.Paragraph_Number_Only
{
	mc-format: '{Link_Topic}{paranumonly}';
}

p.Screen_Text_3
{
	text-align: left;
	margin-left: 0.5in;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: 'Courier New';
	font-weight: normal;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 11pt;
	text-decoration: none;
}

p.Body_Text_3
{
	text-align: left;
	margin-left: 0.5in;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
}

MadCap|xref.Paragraph_Number_Page
{
	mc-format: '{Link_Topic}{paranum} on page {page}';
}

p.Footnote
{
	text-align: left;
	margin-left: 0.25in;
	margin-right: 0.25in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #000000;
	text-indent: -24px;
	line-height: 11pt;
	text-decoration: none;
}

p.Table_Body_Center
{
	text-align: center;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 4pt;
	margin-bottom: 4pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
}

h5.Head_5
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 15pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #004064;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
}

p.Head_3_Top
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 17pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 14pt;
	letter-spacing: 0em;
	color: #004064;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 17pt;
	text-decoration: none;
}

span.Italics
{
	font-family: Georgia;
	font-weight: normal;
	font-style: italic;
	letter-spacing: 0em;
	color: #000000;
	text-decoration: none;
}

p.Head_2_Top
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 20pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 18pt;
	letter-spacing: 0em;
	color: #ea5b00;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 22pt;
	text-decoration: none;
}

p.Table_Body_Left_3
{
	text-align: left;
	margin-left: 0.5in;
	margin-right: 0in;
	margin-top: 4pt;
	margin-bottom: 4pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
}

p.Body_Text_4
{
	text-align: left;
	margin-left: 0.75in;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
}

p.Head_1_Top
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 29pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 24pt;
	letter-spacing: 0em;
	color: #004064;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 29pt;
	text-decoration: none;
}

span.Symbol
{
	font-family: Symbol;
}

p.Appendix_Number
{
	text-align: right;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 24pt;
	letter-spacing: 0em;
	color: #ea5b00;
	mc-hyphenate: never;
	mc-auto-number-format: 'Appendix {chapnum}';
	mc-auto-number-position: inside-head;
	mc-auto-number-offset: 0px;
	text-indent: 0px;
	line-height: 29pt;
	text-transform: uppercase;
	text-decoration: none;
}

p.Screen_Text_4
{
	text-align: left;
	margin-left: 0.75in;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: 'Courier New';
	font-weight: normal;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 11pt;
	text-decoration: none;
}

p.GroupTitlesIX
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 19pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 16pt;
	letter-spacing: 0em;
	color: #004064;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 19pt;
	text-decoration: none;
}

p.Level1IX
{
	text-align: left;
	margin-left: 0.1in;
	margin-right: 0in;
	margin-top: 2pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: -9px;
	line-height: 12pt;
	text-decoration: none;
}

p.Level2IX
{
	text-align: left;
	margin-left: 0.35in;
	margin-right: 0in;
	margin-top: 1pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: -9px;
	line-height: 12pt;
	text-decoration: none;
}

p.Level3IX
{
	text-align: left;
	margin-left: 0.6in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: -9px;
	line-height: 12pt;
	text-decoration: none;
}

h2
{
	
}

p.Head_5_TopTOC
{
	text-align: left;
	margin-left: 1.1in;
	margin-right: 0in;
	margin-top: 1pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: normal;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: -9px;
	line-height: 12pt;
	text-decoration: none;
}

p.Popup_Jump
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 13pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
}

span.Screen_Text
{
	font-family: 'Courier New';
	font-weight: normal;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #000000;
	line-height: 11pt;
	text-decoration: none;
}

p.Table_List_Bullet_1_Small
{
	text-align: left;
	margin-left: 0.2in;
	margin-right: 0in;
	margin-top: 4pt;
	margin-bottom: 4pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: '• ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 19.2px;
	mc-auto-number-class: SS8_Blue_Bold;
	line-height: 13pt;
	text-decoration: none;
}

big.Interface_Label
{
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	letter-spacing: 0em;
	text-decoration: none;
}

p.Head_3_Top_no_TOC
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 17pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 14pt;
	letter-spacing: 0em;
	color: #004064;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 17pt;
	text-decoration: none;
}

p.Head_4_Top
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 14pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: italic;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #ea5b00;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 14pt;
	text-decoration: none;
}

p.Head_5_Top
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 15pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 11pt;
	letter-spacing: 0em;
	color: #004064;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
}

p.Head_3_no_TOC
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 17pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 14pt;
	letter-spacing: 0em;
	color: #004064;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 17pt;
	text-decoration: none;
}

p.Anchor
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-size: 2pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 0pt;
	text-decoration: none;
}

p.Level4IX
{
	text-align: justify;
	margin-left: 1.25in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: 'Times New Roman';
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #000000;
	text-indent: -48px;
	line-height: 14pt;
	text-decoration: none;
}

