﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="6" MadCap:lastHeight="4653.667" MadCap:lastWidth="960" MadCap:conditions="Xcipio_Administrator_Manual_2700-4253.Linux">
    <head>
        <link href="../Resources/TableStyles/Screen_Text.css" rel="stylesheet" MadCap:stylesheetType="table" />
        <link href="../Resources/TableStyles/Screen_Text_1.css" rel="stylesheet" MadCap:stylesheetType="table" />
        <link href="../Resources/TableStyles/Screen_Text_6.css" rel="stylesheet" MadCap:stylesheetType="table" />
        <link href="../Resources/TableStyles/Note_Tip_5.css" rel="stylesheet" MadCap:stylesheetType="table" />
        <link href="../Resources/Stylesheets/Stylesheet_SS8.css" rel="stylesheet" />
    </head>
    <body>
        <h2 class="Head_2_Top">Initial Configuration</h2>
        <p class="List_Number_1_1st" MadCap:autonum="1. ">Create an <MadCap:glossaryTerm>IPSec</MadCap:glossaryTerm> connection between Xcipio and a mock <MadCap:glossaryTerm>AF</MadCap:glossaryTerm>.</p>
        <p class="Screen_Text_2">Xcipio: 192.168.10.1</p>
        <p class="Screen_Text_2">AF-1: 192.168.10.42</p>
        <p class="List_Number_1_nth" MadCap:autonum="2. ">Create a pre-shared key (<MadCap:glossaryTerm>PSK</MadCap:glossaryTerm>) in the configuration directory. This key is used for authentication and encryption and should have a strong pre-shared key.</p>
        <p class="Body_Text_2">The following example is a pre-shared key with two hosts. It’s a PSK and a secret key.</p>
        <p class="Screen_Text_2">/etc/ipsec.d/configs/Xcipio-AF-1.secrets</p>
        <table style="margin-left: auto;margin-right: auto;caption-side: top;mc-table-style: url('../Resources/TableStyles/Screen_Text_1.css');" class="TableStyle-Screen_Text" cellspacing="0">
            <col class="TableStyle-Screen_Text-Column-Column1" />
            <tbody>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_2">{{{</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_2">192.168.10.1 192.168.10.42: PSK “strongpresharedkey”</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyA-Column1-Body1">
                        <p class="Screen_Text_2">}}}</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p class="List_Number_1_nth" MadCap:autonum="3. ">Make sure the file is set with permission 600.</p>
        <table style="margin-left: auto;margin-right: auto;caption-side: top;mc-table-style: url('../Resources/TableStyles/Screen_Text.css');" class="TableStyle-Screen_Text" cellspacing="0">
            <col class="TableStyle-Screen_Text-Column-Column1" />
            <tbody>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_2">{{{</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_2">$&gt; chmod 600 /etc/ipsec.d/configs/Xcipio-AF-1.secrets</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_2">$&gt; ls -l /etc/ipsec.d/configs/Xcipio-AF-1.secrets</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_2">-rw------ 1 root root 53 Jun 12 12:07 /etc/ipsec.d/configs/Xcipio-AF-1.secrets</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyA-Column1-Body1">
                        <p class="Screen_Text_2">}}}</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p class="List_Number_1_nth" MadCap:autonum="4. ">Create a connection configuration file in <code class="Screen_Text" style="font-size: 10pt;line-height: 12pt;">/etc/ipsec.d/configs/Xcipio-AF-1.conf</code><span class="_Override" style="font-size: 10pt;line-height: 12pt;">.</span> This will be the main configuration file for the AF. </p>
        <p class="Body_Text_2">To add more IPSec connections, add new <big class="Interface_Label">*.conf</big> and <big class="Interface_Label">*.secrets</big> files for each IPSec connection desired. Hundreds of IPSec <MadCap:glossaryTerm>SA</MadCap:glossaryTerm>s can be supported.</p>
        <p class="List_Number_2_1st" MadCap:autonum="A. ">To build the <code class="Screen_Text" style="font-size: 10pt;line-height: 12pt;">/etc/ipsec.d/configs/Xcipio-AF-1.conf, </code>first define the connection and define IKE Phase 1.</p>
        <table style="margin-left: auto;margin-right: auto;caption-side: top;mc-table-style: url('../Resources/TableStyles/Screen_Text.css');" class="TableStyle-Screen_Text" cellspacing="0">
            <col class="TableStyle-Screen_Text-Column-Column1" />
            <tbody>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_3">{{{</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_3">conn Xcipio-AF-1</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_4">#############################################################</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_4">## Phase 1 (ISAKMP SA)#</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_4">#############################################################</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_4">## IKE encryption (3des or aes)</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_4">## IKE authentication (sha1)</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_4">## IKE DH group (modp1024 or modp1536)</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_4">ike=3des-sha1;modp1536</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_4">authby=secret</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_4">## Main/aggressive mode</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_4">aggrmode=no</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_4">## IKE lifetime</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_4">ikelifetime=2h</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_4">ikev2=permit</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyA-Column1-Body2">
                        <p class="Screen_Text_3">}}}}</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p class="List_Number_2_nth" MadCap:autonum="B. ">Configure the Phase 1 parameters.</p>
        <p class="List_Number_3_1st" MadCap:autonum="1) ">Create a connection named Xcipio-AF-1. Configure the: </p>
        <p class="List_Bullet_4" MadCap:autonum="• ">IKE encryption type (3DES or AES)</p>
        <p class="List_Bullet_4" MadCap:autonum="• ">IKE authentication type (sha1)</p>
        <p class="List_Bullet_4" MadCap:autonum="• ">IKE Diffie Hellman Group (dh2 or dh5)</p>
        <table style="width: 624px;caption-side: top;mc-table-style: url('../Resources/TableStyles/Note_Tip_5.css');" class="TableStyle-Note_Tip" cellspacing="0">
            <col width="96px" class="TableStyle-Note_Tip-Column-Column1" />
            <col width="528px" class="TableStyle-Note_Tip-Column-Column1" />
            <tbody>
                <tr class="TableStyle-Note_Tip-Body-Body1">
                    <td class="TableStyle-Note_Tip-BodyB-Column1-Body1">
                        <p class="Table_Head_Left_Small">Note:</p>
                    </td>
                    <td class="TableStyle-Note_Tip-BodyA-Column1-Body1">
                        <p class="Table_Body_Left_2">Diffie Hellman groups MODP 1024 (2) and MODP 1536 (5) are supported. </p>
                        <p class="Table_Body_Left_2">MODP 768 is not supported. It is too weak and insecure.</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p class="List_Number_3_nth" MadCap:autonum="2) ">Set the authentication type to <big class="Interface_Label">secret</big>, meaning a PSK.</p>
        <p class="List_Number_3_nth" MadCap:autonum="3) ">Next, explicitly turn off Aggressive Mode for security purposes, and set the IKE lifetime to 2 hours (maximum is 8 hours).</p>
        <p class="List_Number_3_nth" MadCap:autonum="4) ">Finally, set whether or not to use IKE version 2. Set this to permit. This means use IKEv1 unless the peer proposes IKEv2.</p>
        <table style="width: 528px;caption-side: top;mc-table-style: url('../Resources/TableStyles/Screen_Text_6.css');" class="TableStyle-Screen_Text" cellspacing="0">
            <col width="528px" class="TableStyle-Screen_Text-Column-Column1" />
            <tbody>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_3">{{{</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_4">#############################################################</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_4">## Phase 2 (IPSEC SA)#</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_4">#############################################################</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_4">## IPsec protocol (ESP)</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_4">phase2=esp</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_4">## esp type (tunnel or transport)</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_4">type=tunnel</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_4">## IPsec encryption (3des)</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_4">## IPsec authentication (sha1)</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_4">## IPsec DH group (modp1536)</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_4">phase2alg=3des-sha1;modp1536</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_4">## PFS on/off</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_4">pfs=yes</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_4">## IPsec lifetime</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_4">salifetime=8h</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyA-Column1-Body1">
                        <p class="Screen_Text_3">}}}</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p class="List_Number_2_nth" MadCap:autonum="C. ">In IKE phase 2, set the phase 2 parameters.</p>
        <p class="List_Number_3_1st" MadCap:autonum="1) ">Set the Phase 2 parameter to ESP, and the Type to Tunnel for IPsec ESP tunnel mode.</p>
        <p class="List_Number_3_nth" MadCap:autonum="2) ">Set up the IKE Phase 2 parameters. First configure the :</p>
        <p class="List_Bullet_4" MadCap:autonum="• ">IKE encryption type (3DES or AES)</p>
        <p class="List_Bullet_4" MadCap:autonum="• ">IKE authentication type (sha1)</p>
        <p class="List_Bullet_4" MadCap:autonum="• ">IKE DH Group (dh2 or dh5)</p>
        <p class="List_Bullet_4" MadCap:autonum="• ">Also enable Perfect Forwarding Secrecy (<MadCap:glossaryTerm>PFS</MadCap:glossaryTerm>). If PFS is disabled, the DH Group will not be provided.</p>
        <p class="List_Number_3_nth" MadCap:autonum="3) ">Set the SA lifetime to 8 hours (24 hours maximum)</p>
        <p class="List_Number_1_nth" MadCap:autonum="5. ">Finally, add the hosts and whether or not to actively start an IKE negotiation connection.</p>
        <table style="margin-left: auto;margin-right: auto;caption-side: top;mc-table-style: url('../Resources/TableStyles/Screen_Text.css');" class="TableStyle-Screen_Text" cellspacing="0">
            <col class="TableStyle-Screen_Text-Column-Column1" />
            <tbody>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_3">/etc.ipsec.d/configs/Xcipio-AF-1.conf</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_3">{{{</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_3">conn Xcipio-AF-1</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_4">#############################################################</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_4">## Phase 1 (ISAKMP SA)#</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_4">#############################################################</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_4">## IKE encryption (3des or aes)</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_4">## IKE authentication (sha1)</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_4">## IKE DH group (modp1024 or modp1536)</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_4">ike=3des-sha1;modp1536</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_4">authby=secret</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_4">## Main/aggressive mode</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_4">aggrmode=no</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_4">## IKE lifetime</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_4">ikelifetime=2h</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_4">ikev2=permit</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_4">#############################################################</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_4">## Phase 2 (IPSEC SA)#</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_4">#############################################################</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_4">## IPsec protocol (ESP)</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_4">phase2=esp</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_4">## esp type (tunnel or transport)</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_4">type=tunnel</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_4">## IPsec encryption (3des)</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_4">## IPsec authentication (sha1)</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_4">## IPsec DH group (modp1536)</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_4">phase2alg=3des-sha1;modp1536</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_4">## PFS on/off</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_4">pfs=yes</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_4">## IPsec lifetime</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_4">salifetime=8h</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_4">## Hosts</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_4">left=192.168.10.1</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_4">right=192.168.10.42</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_4">## Misc</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_4">auto=start</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyA-Column1-Body1">
                        <p class="Screen_Text_3">}}}</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p class="List_Number_1_nth" MadCap:autonum="6. ">Test the configuration. </p>
        <p class="List_Number_2_1st" MadCap:autonum="A. ">Make sure the IPSec peer has the same configuration and is waiting for a IKE connection.</p>
        <p class="List_Number_2_nth" MadCap:autonum="B. ">Start IPSec services on Xcipio, and then view the log files for the connection confirmation.</p>
        <table style="margin-left: auto;margin-right: auto;caption-side: top;mc-table-style: url('../Resources/TableStyles/Screen_Text.css');" class="TableStyle-Screen_Text" cellspacing="0">
            <col class="TableStyle-Screen_Text-Column-Column1" />
            <tbody>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_2">{{{</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_2">$&gt; service ipsec restart;tail -f /var/log/pluto.log | grep “Xcipio-AF-1”</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_2">Redirecting to /bin/systemctl restart ipsec.service</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_2">added connection description “Xcipio-AF-1”</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_2">loading secrets from “/etc/ipsec.d/configs/Xcipio-AF-1.secrets”</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_2">"Xcipio-AF-1" #1: initiating Main Mode</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_2">"Xcipio-AF-1" #1: ignoring unknown Vendor ID payload [4f4568794c64414365636661]</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_2">"Xcipio-AF-1" #1: received Vendor ID payload [Dead Peer Detection]</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_2">"Xcipio-AF-1" #1: received Vendor ID payload [RFC 3947]</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_2">"Xcipio-AF-1" #1: enabling possible NAT-traversal with method RFC 3947 (NAT-Traversal)</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_2">"Xcipio-AF-1" #1: transition from state STATE_MAIN_I1 to state STATE_MAIN_I2</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_2">"Xcipio-AF-1" #1: STATE_MAIN_I2: sent MI2, expecting MR2</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_2">"Xcipio-AF-1" #1: NAT-Traversal: Result using RFC 3947 (NAT-Traversal) sender port 500: no NAT detected</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_2">"Xcipio-AF-1" #1: transition from state STATE_MAIN_I2 to state STATE_MAIN_I3</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_2">"Xcipio-AF-1" #1: STATE_MAIN_I3: sent MI3, expecting MR3</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_2">"Xcipio-AF-1" #1: received Vendor ID payload [CAN-IKEv2]</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_2">"Xcipio-AF-1" #1: Main mode peer ID is ID_IPV4_ADDR: '192.168.10.42'</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_2">"Xcipio-AF-1" #1: transition from state STATE_MAIN_I3 to state STATE_MAIN_I4</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_2">"Xcipio-AF-1" #1: STATE_MAIN_I4: ISAKMP SA established {auth=PRESHARED_KEY cipher=oakley_3des_cbc_192 integ=sha group=MODP1536}</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_2">"Xcipio-AF-1" #5: initiating Quick Mode </p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_2">PSK+ENCRYPT+TUNNEL+PFS+UP+IKEV2_ALLOW+SAREF_TRACK+IKE_FRAG_ALLOW {using isakmp#1 </p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_2">msgid:13f0d3ea proposal=3DES(3)_000-SHA1(2)_000 pfsgroup=OAKLEY_GROUP_MODP1536}</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_2">"XCIPIO-AF-1" #5: transition from state STATE_QUICK_I1 to state STATE_QUICK_I2</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_2">"XCIPIO-AF-1" #5: STATE_QUICK_I2: sent QI2, IPsec SA established tunnel mode</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_2">{ESP=&gt;0x3c0dd4a9 &lt;0x7dedd44e xfrm=3DES_0-HMAC_SHA1 NATOA=none NATD=none DPD=passive}</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyA-Column1-Body2">
                        <p class="Screen_Text_2">}}}</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p class="Body_Text_3">The above output shows a successful connection.</p>
        <p class="List_Number_2_nth" MadCap:autonum="C. ">Query the Linux kernel XFRM subsystem to view the current, established SAs.</p>
        <table style="margin-left: auto;margin-right: auto;caption-side: top;mc-table-style: url('../Resources/TableStyles/Screen_Text.css');" class="TableStyle-Screen_Text" cellspacing="0">
            <col class="TableStyle-Screen_Text-Column-Column1" />
            <tbody>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_2">{{{</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_2">$&gt; ip xfrm state</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_2">src 192.168.10.42 dst 192.168.10.1</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_3">proto esp spi 0x7dedd44e reqid 16389 mode tunnel</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_3">replay-window 32 flag af-unspec</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_3">auth-trunc hmac(sha1) 0xe8b28b68a577d05cc4455c81c3c3a3f35ab85809 96</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_3">enc cbc(des3_ede) 0x957994ba4f95bf9b281370876aae24a994c635ec33e41909</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_2">src 192.168.10.1 dst 192.168.10.42</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_3">proto esp spi 0x3c0dd4a9 reqid 16389 mode tunnel</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_3">replay-window 32 flag af-unspec</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_3">auth-trunc hmac(sha1) 0xff1a781042bbfa6146303d2c96e1c70d5bb6e404 96</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_3">enc cbc(des3_ede) 0x920528677336b7d67d648a1b67f52064a6653b673a34ac972fa</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyA-Column1-Body1">
                        <p class="Screen_Text_2">}}}</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p class="List_Number_2_nth" MadCap:autonum="D. ">To manually bring the connection up and down, use the following commands.</p>
        <p class="Screen_Text_3">ipsec auto --down &lt;CONNECTION-NAME&gt;</p>
        <p class="Screen_Text_3">ipsec auto --up &lt;CONNECTION-NAME&gt;</p>
        <table style="margin-left: auto;margin-right: auto;caption-side: top;mc-table-style: url('../Resources/TableStyles/Screen_Text.css');" class="TableStyle-Screen_Text" cellspacing="0">
            <col class="TableStyle-Screen_Text-Column-Column1" />
            <tbody>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_2">{{{</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_2">[root@Xcipio ~]# ipsec auto --down Xcipio-AF-1</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_2">002 “Xcipio-AF-1”: terminating SAs using this connection</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_2">002 “Xcipio-AF-1” #5: deleting state (STATE_QUICK_I2)</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_2">005 “Xcipio-AF-1” #5: ESP traffic information: in=0B out=0B</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_2">002 “Xcipio-AF-1” #1: deleting state (STATE_MAIN_I4)</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_2">[root@Xcipio ~]# ip xfrm state</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_2">[root@Xcipio ~]# ipsec auto --up Xcipio-AF-1</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_2">002 “Xcipio-AF-1” #6: initiating Main Mode</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_2">104 "Xcipio-AF-1" #6: STATE_MAIN_I1: initiate</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_2">003 "Xcipio-AF-1" #6: ignoring unknown Vendor ID payload [4f4568794c64414365636661]</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_2">003 "Xcipio-AF-1" #6: received Vendor ID payload [Dead Peer Detection]</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_2">003 "Xcipio-AF-1" #6: received Vendor ID payload [RFC 3947]</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_2">002 "Xcipio-AF-1" #6: enabling possible NAT-traversal with method RFC 3947 (NAT-Traversal)</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_2">002 "Xcipio-AF-1" #6: transition from state STATE_MAIN_I1 to state STATE_MAIN_I2</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_2">106 "Xcipio-AF-1" #6: STATE_MAIN_I2: sent MI2, expecting MR2</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_2">003 "Xcipio-AF-1" #6: NAT-Traversal: Result using RFC 3947 (NAT-Traversal) sender</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_2">port 500: no NAT detected</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_2">002 "Xcipio-AF-1" #6: transition from state STATE_MAIN_I2 to state STATE_MAIN_I3</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_2">108 "Xcipio-AF-1" #6: STATE_MAIN_I3: sent MI3, expecting MR3</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_2">003 "Xcipio-AF-1" #6: received Vendor ID payload [CAN-IKEv2]</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_2">002 "Xcipio-AF-1" #6: Main mode peer ID is ID_IPV4_ADDR: '192.168.10.42'</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_2">002 "Xcipio-AF-1" #6: transition from state STATE_MAIN_I3 to state STATE_MAIN_I4</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_2">004 "Xcipio-AF-1" #6: STATE_MAIN_I4: ISAKMP SA established {auth=PRESHARED_KEY cipher=oakley_3des_cbc_192 integ=sha group=MODP1536}</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_2">002 "Xcipio-AF-1" #7: initiating Quick Mode </p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_2">PSK+ENCRYPT+TUNNEL+PFS+UP+IKEV2_ALLOW+SAREF_TRACK+IKE_FRAG_ALLOW {using isakmp#6 msgid:c2b58695 proposal=3DES(3)_000-SHA1(2)_000 pfsgroup=OAKLEY_GROUP_MODP1536}</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_2">117 "Xcipio-AF-1" #7: STATE_QUICK_I1: initiate</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_2">002 "Xcipio-AF-1" #7: transition from state STATE_QUICK_I1 to state STATE_QUICK_I2</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_2">004 "Xcipio-AF-1" #7: STATE_QUICK_I2: sent QI2, IPsec SA established tunnel mode </p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_2">{ESP=&gt;0xc55cc365 &lt;0xf13814b1 xfrm=3DES_0-HMAC_SHA1 NATOA=none NATD=none DPD=passive}</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_2">[root@Xcipio ~]# ip xfrm state</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_2">src 192.168.10.42 dst 192.168.10.1</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_3">proto esp spi 0xf13814b1 reqid 16389 mode tunnel</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_3">replay-window 32 flag af-unspec</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_3">auth-trunc hmac(sha1) 0x327608f97d965eb81a8e8892c4e31fce5720bc3c 96</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_3">enc cbc(des3_ede) 0x22022745fcd2dbd04f20d0ba08fdb00de22c5e3e1bc9be3b</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_2">src 192.168.10.1 dst 192.168.10.42</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_3">proto esp spi 0xc55cc365 reqid 16389 mode tunnel</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_3">replay-window 32 flag af-unspec</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_3">auth-trunc hmac(sha1) 0x26eef36661e982afbf4d0721f849f117c28994f7 96</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_3">enc cbc(des3_ede) 0xca650aba4df465654714ae3ce88210b2c7bfe6cf44ae3bc2</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_2">[root@Xcipio ~]#</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyA-Column1-Body1">
                        <p class="Screen_Text_2">}}}</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>