﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="6" MadCap:lastHeight="1939.667" MadCap:lastWidth="960" MadCap:conditions="Xcipio_Administrator_Manual_2700-4253.Linux">
    <head>
        <link href="../Resources/TableStyles/Screen_Text.css" rel="stylesheet" MadCap:stylesheetType="table" />
        <link href="../Resources/Stylesheets/Stylesheet_SS8.css" rel="stylesheet" />
    </head>
    <body>
        <h2 class="Head_2">Second Configuration</h2>
        <p class="Body_Text_1">IKEv1 is by far the most widely used <MadCap:glossaryTerm>IKE</MadCap:glossaryTerm> version, but Libreswan also supports IKEv2. The benefits of IKEv2 over IKEv1 include:</p>
        <p class="List_Bullet_1" MadCap:autonum="• ">IKEv2 doesn’t use as much bandwidth.</p>
        <p class="List_Bullet_1" MadCap:autonum="• ">IKEv2 supports EAP authentication whereas IKEv1 doesn't.</p>
        <p class="List_Bullet_1" MadCap:autonum="• ">IKEv2 has built-in <MadCap:glossaryTerm>NAT</MadCap:glossaryTerm> support whereas IKEv1 doesn't.</p>
        <p class="List_Bullet_1" MadCap:autonum="• ">IKEv2 can detect whether a tunnel is still available.</p>
        <p class="Body_Text_1">Accepted IKEv2 parameter values are:</p>
        <p class="List_Bullet_1" MadCap:autonum="• ">permit: No IKEv2 should be transmitted; however, if the peer initiates a connection with IKEv2, it will be accepted.</p>
        <p class="List_Bullet_1" MadCap:autonum="• ">no: No IKEv2 negotiation will be transmitted or accepted.</p>
        <p class="List_Bullet_1" MadCap:autonum="• ">yes: Permit IKEv2 and make it the default for connection initiation.</p>
        <p class="List_Bullet_1" MadCap:autonum="• ">insist: Only accept and receive IKEv2. IKEv1 negotiations will be rejected.</p>
        <p class="Body_Text_1">&#160;</p>
        <p class="List_Number_1_1st" MadCap:autonum="1. ">Create Xcipio-AF-2.conf and Xcipio-AF-2.secrets files, and add them to the <br /><code class="Screen_Text" style="font-size: 10pt;">/etc/ipsec/d/configs</code> directory. </p>
        <p class="Body_Text_2">The connection will be between 192.168.10.1 and 192.168.20.42 in <MadCap:glossaryTerm>ESP</MadCap:glossaryTerm> tunnel mode with <MadCap:glossaryTerm>PFS</MadCap:glossaryTerm> disabled.</p>
        <p class="Screen_Text_2">/etc/ipsec/d/configs/Xcipio-AF-2.conf</p>
        <table style="margin-left: auto;margin-right: auto;caption-side: top;mc-table-style: url('../Resources/TableStyles/Screen_Text.css');" class="TableStyle-Screen_Text" cellspacing="0">
            <col class="TableStyle-Screen_Text-Column-Column1" />
            <tbody>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_2">{{{</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_2">conn Xcipio-AF-2</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_3">#################################################################</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_3">## Phase 1 (ISAKMP SA) #</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_3">#################################################################</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_3">## IKE encryption (3des or aes)</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_3">## IKE authentication (sha1)</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_3">## IKE DH group (modp1024 or modp1536)</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_3">ike=3des-sha1;modp1536</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_3">authby=secret</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_3">## Main/aggressive mode</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_3">aggrmode=no</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_3">## IKE lifetime</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_3">ikelifetime=2h</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_3">ikev2=yes</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_3">#################################################################</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_3">## Phase 2 (IPSEC SA) #</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_3">#################################################################</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_3">## IPsec protocol (ESP)</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_3">phase2=esp</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_3">## esp type (tunnel or transport)</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_3">type=tunnel</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_3">## IPsec encryption (3des)</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_3">## IPsec authentication (sha1)</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_3">## IPsec DH group (modp1536)</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_3">phase2alg=3des-sha1</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_3">## PFS on/off</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_3">pfs=no</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_3">## IPsec lifetime</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_3">salifetime=8h</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_3">## Hosts</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_3">left=192.168.10.1</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_3">right=192.168.20.42</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_3">## Misc</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_3">auto=start</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyA-Column1-Body2">
                        <p class="Screen_Text_2">}}}</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p class="Screen_Text_2">&#160;</p>
        <p class="Screen_Text_2">/etc/ipsec/d/configs/Xcipio-AF-2.secrets</p>
        <table style="margin-left: auto;margin-right: auto;caption-side: top;mc-table-style: url('../Resources/TableStyles/Screen_Text.css');" class="TableStyle-Screen_Text" cellspacing="0">
            <col class="TableStyle-Screen_Text-Column-Column1" />
            <tbody>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_2">}}}</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_2">/etc/ipsec/d/configs/Xcipio-AF-2.secrets</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyA-Column1-Body1">
                        <p class="Screen_Text_2">}}}</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p class="List_Number_1_nth" MadCap:autonum="2. ">The following is a successful IKEv2 negotiation that includes manually bringing down and then bringing up the tunnel.</p>
        <table style="margin-left: auto;margin-right: auto;caption-side: top;mc-table-style: url('../Resources/TableStyles/Screen_Text.css');" class="TableStyle-Screen_Text" cellspacing="0">
            <col class="TableStyle-Screen_Text-Column-Column1" />
            <tbody>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_2">{{{</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_2">[root@Xcipio configs]# ipsec auto --down Xcipio-AF-2</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_2">002 "Xcipio-AF-2": terminating SAs using this connection</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_2">002 "Xcipio-AF-2" #4: deleting state (STATE_PARENT_I3)</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_2">005 "Xcipio-AF-2" #4: ESP traffic information: in=0B out=0B</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_2">002 "Xcipio-AF-2" #2: deleting state (STATE_PARENT_I3)</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_2">[root@Xcipio configs]# ipsec auto --up Xcipio-AF-2</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_2">002 "Xcipio-AF-2" #6: initiating v2 parent SA</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_2">133 "Xcipio-AF-2" #6: STATE_PARENT_I1: initiate</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_2">002 "Xcipio-AF-2" #6: transition from state STATE_IKEv2_START to state</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_2">STATE_PARENT_I1</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_2">133 "Xcipio-AF-2" #6: STATE_PARENT_I1: sent v2I1, expected v2R1</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_2">002 "Xcipio-AF-2" #7: transition from state STATE_PARENT_I1 to state STATE_PARENT_I2</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_2">134 "Xcipio-AF-2" #7: STATE_PARENT_I2: sent v2I2, expected v2R2 {auth=IKEv2 cipher=oakley_3des_cbc_192 integ=sha1_96 prf=sha group=MODP1536}</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_2">002 "Xcipio-AF-2" #7: IKEv2 mode peer ID is ID_IPV4_ADDR: '192.168.20.42'</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_2">002 "Xcipio-AF-2" #7: transition from state STATE_PARENT_I2 to state STATE_PARENT_I3</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_2">002 "Xcipio-AF-2" #7: negotiated tunnel [192.168.10.1,192.168.10.1:0-65535 0] -&gt; [192.168.20.42,192.168.20.42:0-65535 0]</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_2">004 "Xcipio-AF-2" #7: STATE_PARENT_I3: PARENT SA established tunnel mode</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body1">
                        <p class="Screen_Text_2">{ESP=&gt;0x5cbca05a &lt;0xe4c6f378 xfrm=3DES_192-HMAC_SHA1 NATOA=none NATD=none DPD=passive}</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body2">
                    <td class="TableStyle-Screen_Text-BodyD-Column1-Body2">
                        <p class="Screen_Text_2">[root@Xcipio configs]#</p>
                    </td>
                </tr>
                <tr class="TableStyle-Screen_Text-Body-Body1">
                    <td class="TableStyle-Screen_Text-BodyA-Column1-Body1">
                        <p class="Screen_Text_2">}}}</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>